{% extends "layouts/base-pages.html" %}

{% load static i18n %}

{% block title %}
  {% translate "Companies" %}
{% endblock title %}

{% block breadcrumb %}
  {% translate "Companies" %}
{% endblock breadcrumb %}

{% block page_title %}
  {% translate "All" %}
{% endblock page_title %}

{% block content %}
  <section>
    <div class="row">
      {% for company in companies %}
        <div class="col-12 col-md-6 col-lg-3 mt-3">
          <div class="card h-100">
            <img src="{{ company.cover.url }}"
                 width="200"
                 height="100"
                 alt="Logo of bus company {{ company.name }}"
                 class="img-fluid mt-3 ms-3" />
            <div class="card-body">
              <h5>{{ company.name }}</h5>
              <p class="text-gradient text-primary mb-2 text-sm">{% translate "Luxury Suite • 12 Buses • 3 Routes" %}</p>
              <p class="text-dark">{{ company.description|truncatechars:70 }}</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
              {% if request.user.is_superuser %}
                <a href="{{ company.get_admin_url }}" class="icon-link icon-link-hover">
                  <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-left" />
                  </svg>
                {% translate "Admin" %}</a>
              {% endif %}
              <a href="{{ company.get_absolute_url }}" class="icon-link icon-link-hover">{% translate "Book" %}
                <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-right" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      {% empty %}
        <h5>There are no companies yet.</h5>
      {% endfor %}
    </div>
  </section>
{% endblock content %}
