{% extends "layouts/base-app.html" %}

{% load static i18n %}

{% block title %}
  {% translate "Help" %}
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-lg-4 px-lg-1 mt-lg-0 mt-4">
      <div class="card bg-gray-100">
        <div class="card-header bg-transparent pb-0">
          <svg class="bi text-primary" width="32" height="32" fill="currentColor" aria-hidden="true">
            <use xlink:href="{% static 'assets/icons/icons.svg' %}#whatsapp" />
          </svg>
        </div>
        <div class="card-body">
          <h5>{% translate "Whatsapp" %}</h5>
          <p>Mandanos mensaje por whatsapp directamente</p>
          <a href="https://wa.me/5491150254191" target="_blank" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 px-lg-1 mt-lg-0 mt-4">
      <div class="card bg-gray-100">
        <div class="card-header bg-transparent pb-0">
          <svg class="bi text-primary" width="32" height="32" fill="currentColor" aria-hidden="true">
            <use xlink:href="{% static 'assets/icons/icons.svg' %}#send" />
          </svg>
        </div>
        <div class="card-body">
          <h5>{% translate "Email" %}</h5>
          <p>Mandanos mensaje por email para aclarar tus dudas</p>
          <a href="mailto:guru@ventanita.com.ar" target="_blank" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 px-lg-1 mt-lg-0 mt-4">
      <div class="card bg-gray-100">
        <div class="card-header bg-transparent pb-0">
          <svg class="bi text-primary" width="32" height="32" fill="currentColor" aria-hidden="true">
            <use xlink:href="{% static 'assets/icons/icons.svg' %}#bell" />
          </svg>
        </div>
        <div class="card-body">
          <h5>{% translate "Llamanos" %}</h5>
          <p>¿Tenes una duda urgente? Llamanos directamente y lo resolvemos</p>
          <a href="tel:+5491150254191" target="_blank" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
