{% extends "pages/home.html" %}

{% load static %}

{% block title %}
  {{ company }} | Book Bus Tickets
{% endblock title %}

{% block breadcrumb %}
  {{ company }}
{% endblock breadcrumb %}

{% block content %}
  <div class="page-header min-height-200 border-radius-xl"
       style="background-image: url({% static 'assets/img/curved-images/curved7.avif' %});
              background-position-y: 50%">
    {% comment %} <span class="mask bg-gradient-primary opacity-6"></span> {% endcomment %}
  </div>
  <h1>Please implement search form here Veer</h1>
{% endblock content %}
