{% extends "layouts/base-app.html" %}

{% load static i18n %}

{% block title %}
  {{ company.name }}
{% endblock title %}

{% block breadcrumb %}
  {% translate "Companies" %}
{% endblock breadcrumb %}

{% block page_title %}
  {{ company.name }}
{% endblock page_title %}

{% block content %}
  <h1 class="text-center">{{ company }}</h1>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <a href="{% url 'companies:company_list' %}" class="icon-link icon-link-hover">
            <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
              <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-left" />
            </svg>
            {% translate "Back" %}
          </a>
        </div>
        <div class="card-body">
          {% comment %} <p>{{ company.description }}</p> {% endcomment %}
          <a class="btn bg-gradient-primary btn-lg w-100" href="{{ company.get_booking_url }}">{% translate "Book" %}
            <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
              <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-right" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
