{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ company }} | {% translate "Book bus tickets" %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/company.css' %}" />
  </head>
  <body>
    <h1>{{ company }}</h1>
    <p>Hello Veer</p>
    <ul>
      <li>Go to gymn</li>
      <li>Build startup</li>
      <li>Be grateful</li>
    </ul>
    <p>
      Veer you are <span>blessed</span> with a lot of potential
    </p>
  </body>
</html>
