{% extends "layouts/base-sidebar.html" %}

{% load static %}

{% block title %}
    {{ company.name }}
{% endblock title %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-5 col-lg-6 text-center">
                                <a class="d-block blur-shadow-image">
                                    <img class="w-100 border-radius-xl shadow-xl mx-auto" src="{% static 'assets/img/bus/bus4.jpg' %}" alt="company logo"/>
                                </a>
                                <div class="row mt-4 pt-2 align-items-center">
                                    <div class="col">
                                        <img class="img-fluid border-radius-lg shadow" src="{% static 'assets/img/bus/bus3.jpg' %}" alt="Company bus image"/>
                                    </div>
                                    <div class="col">
                                        <img class="img-fluid border-radius-lg shadow" src="{% static 'assets/img/bus/bus2.jpg' %}" alt="Company bus image"/>
                                    </div>
                                    <div class="col">
                                        <img class="img-fluid border-radius-lg shadow" src="{% static 'assets/img/bus/bus5.jpg' %}" alt="Company bus image"/>
                                    </div>
                                    <div class="col">
                                        <img class="img-fluid border-radius-lg shadow" src="{% static 'assets/img/bus/bus6.jpg' %}" alt="Company bus image"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 mx-auto">
                                <a href="{% url 'companies:company_list' %}">
                                    <i class="fas fa-angle-left fa-lg me-2" aria-hidden="true">
                                    </i>
                                    Back
                                </a>
                                <h3 class="mt-lg-0 mt-4">{{ company.name }}</h3>
                                <div class="rating">
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                </div>
                                <br />
                                <h6 class="mb-0 mt-3">Phone</h6>
                                <h5>{{ company.phone }}</h5>
                                <span class="badge badge-success">In Stock</span>
                                <p class="card-text">{{ company.description }}</p>
                                <div class="row mt-4">
                                    <div class="col-lg-5">
                                        <button class="btn bg-gradient-primary mb-0 mt-lg-auto w-100" type="button" name="button">Book</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12">
                                <h5 class="ms-3">Trips</h5>
                                <div class="table table-responsive">
                                    <table class="table align-items-center mb-0">
                                        <thead>
                                            <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Origin</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Destination</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Price</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Review</th>
                                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Availability</th>
                                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Duration</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for trip in company.trips.all %}
                                                <tr>
                                                    <td>
                                                        <h6 class="mb-0 text-sm">{{ trip.origin }}</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="mb-0 text-sm">{{ trip.destination }}</h6>
                                                    </td>
                                                    <td>
                                                        <p class="text-sm text-secondary mb-0">${{ trip.price }}</p>
                                                    </td>
                                                    <td>
                                                        <div class="rating ms-lg-n4">
                                                            <i class="fas fa-star" aria-hidden="true"></i>
                                                            <i class="fas fa-star" aria-hidden="true"></i>
                                                            <i class="fas fa-star" aria-hidden="true"></i>
                                                            <i class="fas fa-star" aria-hidden="true"></i>
                                                            <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle text-sm">
                                                        <div class="progress mx-auto">
                                                            <div class="progress-bar bg-gradient-success"
                                                                 role="progressbar"
                                                                 style="width: 80%"
                                                                 aria-valuenow="80"
                                                                 aria-valuemin="0"
                                                                 aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle text-center">
                                                        <span class="text-secondary text-sm">{{ trip.duration }}Hs</span>
                                                    </td>
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <td>
                                                        <h6 class="mb-0 text-sm">No trips scheduled</h6>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
