{% extends "layouts/base-company.html" %}

{% load static i18n %}

{% block title %}
  {{ company.name }} | Orders
{% endblock title %}

{% block breadcrumb %}
  {% translate "Orders" %}
{% endblock breadcrumb %}

{% block page_title %}
  {{ company.name }}
{% endblock page_title %}

{% block content %}
  <div class="card">
    <div class="card-header d-flex justify-content-between pb-0">
      <a href="{{ company.get_admin_url }}" class="link-dark icon-link icon-link-hover">
        <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
          <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-left" />
        </svg>
        Back
      </a>
      <a href="#" class="link-dark icon-link icon-link-hover">
        <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
          <use xlink:href="{% static 'assets/icons/icons.svg' %}#plus-lg" />
        </svg>
        {% translate "Create" %}
      </a>
    </div>
    <div class="card-body px-0">
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex">
          <div class="col-2 fw-bolder text-sm text-secondary">{% translate "Nombre" %}</div>
          <div class="col-4 fw-bolder text-sm text-secondary">{% translate "Email" %}</div>
          <div class="col-2 fw-bolder text-sm text-secondary">{% translate "Pais" %}</div>
          <div class="col-1 fw-bolder text-sm text-secondary">{% translate "Pagado" %}</div>
          <div class="col-3 fw-bolder text-sm text-secondary">{% translate "Creado en" %}</div>
        </li>
        {% for order in orders %}
          <li class="list-group-item list-group-item-action d-flex">
            <div class="col-2">{{ order.name }}</div>
            <div class="col-4">{{ order.email }}</div>
            <div class="col-2">{{ order.residence.name }}</div>
            <div class="col-1">
              {% if order.paid %}
                <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#
                  {% if order.paid %}
                    check-circle-fill
                  {% else %}
                    x-lg
                  {% endif %}
                  " />
                </svg>
              {% else %}
                <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#x-lg" />
                </svg>
              {% endif %}
            </div>
            <div class="col-3">{{ order.created_on|date:"D j M P" }}</div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-footer">

      {% include "includes/pagination.html" %}

    </div>
  </div>
{% endblock content %}
