{% extends "layouts/base-company.html" %}

{% load static i18n humanize %}

{% block title %}
  {{ company.name }} | Dashboard
{% endblock title %}

{% block breadcrumb %}
  {% translate "Dashboard" %}
{% endblock breadcrumb %}

{% block page_title %}
  {{ company.name }}
{% endblock page_title %}

{% block content %}
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">{% translate "Today's Money" %}</p>
                <h5 class="font-weight-bolder mb-0">
                  {# ${{ kpis.sales|default:0|intcomma }} #}3.2M
                  <span class="text-success text-sm font-weight-bolder">+55%</span>
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md d-flex justify-content-center align-items-center ms-auto">
                <svg class="bi text-white" width="24" height="24" aria-hidden="true" fill="currentColor">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#coin" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">{% translate "Today's Occupancy" %}</p>
                <h5 class="font-weight-bolder mb-0">
                  {# +{{ kpis.occupancy|default:0 }}% #}
                  74%
                  <span class="text-success text-sm font-weight-bolder">+3%</span>
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow border-radius-md d-flex justify-content-center align-items-center ms-auto">
                <svg class="bi text-white" width="24" height="24" aria-hidden="true" fill="currentColor">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#building-fill-up" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">{% translate "New Bookings" %}</p>
                <h5 class="font-weight-bolder mb-0">
                  {# +{{ kpis.bookings|default:0 }} #}
                  143
                  <span class="text-danger text-sm font-weight-bolder">-2%</span>
                </h5>
              </div>
            </div>
            <div class="col-4">
              <div class="icon icon-shape bg-gradient-primary shadow border-radius-md d-flex justify-content-center align-items-center ms-auto">
                <svg class="bi text-white" width="24" height="24" aria-hidden="true" fill="currentColor">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#ticket-perforated-fill" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">{% translate "Trips" %}</p>
                <h5 class="font-weight-bolder mb-0">
                  {# {{ kpis.trips|default:0|intcomma }} #}
                  72
                  <span class="text-success text-sm font-weight-bolder">+5%</span>
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow border-radius-md d-flex justify-content-center align-items-center ms-auto">
                <svg class="bi text-white" width="24" height="24" aria-hidden="true" fill="currentColor">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#bus-front" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
      <div class="card min-height-400">
        <div class="card-header pb-0">
          <a href="{{ company.get_trip_list_url }}" class="icon-link icon-link-hover">
            <h5>Trips</h5>
          </a>
        </div>
        <div class="card-body pb-2">
          {% if not trips %}
            <div class="d-flex justify-content-center align-items-center min-vh-25">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">{% translate "No upcoming trips" %}</p>
            </div>
          {% else %}
            <div class="table-responsive">
              <table class="table table-borderless align-items-center">
                <thead>
                  <tr>
                    <th class="ps-2 opacity-7">{% translate "Route" %}</th>
                    <th class="ps-2 opacity-7">{% translate "Departure" %}</th>
                    <th class="ps-2 opacity-7">{% translate "Revenue" %}</th>
                    <th class="ps-2 opacity-7">{% translate "Occupancy" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for trip in trips|slice:":6" %}
                    <tr>
                      <td>
                        <span class="text-sm">{{ trip.origin }} - {{ trip.destination }}</span>
                      </td>
                      <td>
                        <span class="text-sm">{{ trip.departure|date:"D j M P" }}</span>
                      </td>
                      <td>
                        <span class="text-sm">${{ trip.revenue|floatformat:"-3g" }}</span>
                      </td>
                      <td>
                        {% with occupancy=trip.occupancy %}
                          <div class="progress-wrapper w-75 mx-auto">
                            <div class="progress-info">
                              <div class="progress-percentage">
                                <span class="text-xs font-weight-bold">{{ occupancy }}%</span>
                              </div>
                            </div>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-primary w-{{ occupancy }}"
                                   role="progressbar"
                                   aria-valuenow="{{ occupancy }}"
                                   aria-valuemin="0"
                                   aria-valuemax="100"></div>
                            </div>
                          </div>
                        {% endwith %}
                      </td>
                      <td class="align-middle">
                        <a href="{% url 'companies:trip-detail' company.slug trip.id %}" class="icon-link icon-link-hover">
                          <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                            <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-right" />
                          </svg>
                          <span class="visually-hidden">{% translate "View" %}</span>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card h-100">
        <div class="card-header pb-0">
          <h5>Categories</h5>
        </div>
        <div class="card-body pb-2">
          <ul class="list-group">
            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
              <div class="d-flex align-items-center">
                <div class="icon icon-shape icon-sm me-3 bg-gradient-primary shadow d-flex justify-content-center align-items-center">
                  <svg class="bi text-white" width="16" height="16" aria-hidden="true" fill="currentColor">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#ticket-perforated-fill" />
                  </svg>
                </div>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-sm">Coupons</h6>
                  <span class="text-xs">250 in stock, <strong>346+ sold</strong></span>
                </div>
              </div>
              <a href={{ company.get_coupon_list_url }} class="icon-link icon-link-hover">
                <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-right" />
                </svg>
                <span class="visually-hidden">{% translate "Coupons" %}</span>
              </a>
            </li>
            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
              <div class="d-flex align-items-center">
                <div class="icon icon-shape icon-sm me-3 bg-gradient-primary shadow d-flex justify-content-center align-items-center">
                  <svg class="bi text-white" width="16" height="16" aria-hidden="true" fill="currentColor">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#grid-fill" />
                  </svg>
                </div>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-sm">SeatCharts</h6>
                  <span class="text-xs">123 closed, <span class="font-weight-bold">15 open</span></span>
                </div>
              </div>
              <a href="{{ company.get_seatchart_url }}" class="icon-link icon-link-hover">
                <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-right" />
                </svg>
                <span class="visually-hidden">{% translate "Seatcharts" %}</span>
              </a>
            </li>
            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
              <div class="d-flex align-items-center">
                <div class="icon icon-shape icon-sm me-3 bg-gradient-primary shadow d-flex justify-content-center align-items-center">
                  <svg class="bi text-white" width="16" height="16" aria-hidden="true" fill="currentColor">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#compass-fill" />
                  </svg>
                </div>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-sm">Live Status</h6>
                  <span class="text-xs">7 running</span>
                </div>
              </div>
              <a href="{{ company.get_live_status_url }}" class="icon-link icon-link-hover">
                <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-right" />
                </svg>
                <span class="visually-hidden">{% translate "Live status" %}</span>
              </a>
            </li>
            <li class="list-group-item border-0 d-flex justify-content-between ps-0 border-radius-lg">
              <div class="d-flex align-items-center">
                <div class="icon icon-shape icon-sm me-3 bg-gradient-primary shadow d-flex justify-content-center align-items-center">
                  <svg class="bi text-white" width="16" height="16" aria-hidden="true" fill="currentColor">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#person-vcard-fill" />
                  </svg>
                </div>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-sm">Passenger Data</h6>
                  <span class="text-xs font-weight-bold">+ 430K</span>
                </div>
              </div>
              <a href="{% url 'companies:passengers' company.slug %}" class="icon-link icon-link-hover">
                <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-right" />
                </svg>
                <span class="visually-hidden">{% translate "Passengers" %}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-5 mb-lg-0 mb-4">
      <div class="card z-index-2">
        <div class="card-body p-3">
          <div class="border-radius-lg py-3 pe-1 mb-3">
            <div class="chart">
              <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
            </div>
          </div>
          <h6 class="ms-2 mt-4 mb-0">Active Users</h6>
          <p class="text-sm ms-2">
            (<span class="font-weight-bolder">+23%</span>) than last week
          </p>
          <div class="container border-radius-lg">
            <div class="row">
              <div class="col-3 py-3 ps-0">
                <div class="d-flex mb-2">
                  <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-primary me-2 d-flex align-items-center justify-content-center">
                    <svg class="bi text-white" width="12" height="12" aria-hidden="true" fill="currentColor">
                      <use xlink:href="{% static 'assets/icons/icons.svg' %}#person-vcard-fill" />
                    </svg>
                  </div>
                  <p class="text-xs mt-1 mb-0 font-weight-bold">Users</p>
                </div>
                <h4 class="font-weight-bolder">36K</h4>
                <div class="progress w-75">
                  <div class="progress-bar bg-dark w-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
              </div>
              <div class="col-3 py-3 ps-0">
                <div class="d-flex mb-2">
                  <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-primary me-2 d-flex align-items-center justify-content-center">
                    <svg class="bi text-white" width="12" height="12" aria-hidden="true" fill="currentColor">
                      <use xlink:href="{% static 'assets/icons/icons.svg' %}#mouse2-fill" />
                    </svg>
                  </div>
                  <p class="text-xs mt-1 mb-0 font-weight-bold">Clicks</p>
                </div>
                <h4 class="font-weight-bolder">2m</h4>
                <div class="progress w-75">
                  <div class="progress-bar bg-dark w-90" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
              </div>
              <div class="col-3 py-3 ps-0">
                <div class="d-flex mb-2">
                  <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-primary me-2 d-flex align-items-center justify-content-center">
                    <svg class="bi text-white" width="12" height="12" aria-hidden="true" fill="currentColor">
                      <use xlink:href="{% static 'assets/icons/icons.svg' %}#coin" />
                    </svg>
                  </div>
                  <p class="text-xs mt-1 mb-0 font-weight-bold">Sales</p>
                </div>
                <h4 class="font-weight-bolder">435$</h4>
                <div class="progress w-75">
                  <div class="progress-bar bg-dark w-30" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
              </div>
              <div class="col-3 py-3 ps-0">
                <div class="d-flex mb-2">
                  <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-primary me-2 d-flex align-items-center justify-content-center">
                    <svg class="bi text-white" width="12" height="12" aria-hidden="true" fill="currentColor">
                      <use xlink:href="{% static 'assets/icons/icons.svg' %}#bus-front" />
                    </svg>
                  </div>
                  <p class="text-xs mt-1 mb-0 font-weight-bold">Trips</p>
                </div>
                <h4 class="font-weight-bolder">43</h4>
                <div class="progress w-75">
                  <div class="progress-bar bg-dark w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="card z-index-2">
        <div class="card-header pb-0">
          <h5>Sales overview</h5>
          <p class="text-sm">
            <svg class="bi" width="12" height="12" aria-hidden="true" fill="currentColor">
              <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-up" />
            </svg>
            <span class="font-weight-bold">4% more</span> in 2023
          </p>
        </div>
        <div class="card-body p-3">
          <div class="chart">
            <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script type="text/javascript" src="{% static 'assets/js/plugins/chartjs.min.js' %}" defer></script>
  <script type="text/javascript" src="{% static 'assets/js/charts/demo.js' %}" defer></script>
{% endblock js %}
