{% extends "layouts/base-company.html" %}

{% load static %}

{% block title %}
  {{ company.name }} | Live
{% endblock title %}

{% block breadcrumb %}
  {{ company.name }}
{% endblock breadcrumb %}

{% block page_title %}
  Live
{% endblock page_title %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'assets/vendors/leaflet/leaflet.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendors/leaflet/leaflet-fullscreen.css' %}" />
{% endblock extra_css %}

{% block content %}
  <div id="map" class="min-vh-85 rounded-3"></div>
{% endblock content %}

{% block js %}
  <script type="text/javascript" src="{% static 'assets/vendors/leaflet/leaflet.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/vendors/leaflet/leaflet-fullscreen.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/maps/gps.js' %}"></script>
{% endblock js %}
