{% extends "layouts/base-company.html" %}

{% load static %}

{% block title %}
    {{ company.name }} | SeatCharts
{% endblock title %}

{% block breadcrumb %}
    {{ company.name }}
{% endblock breadcrumb %}

{% block page_title %}
    SeatCharts
{% endblock page_title %}

{% block content %}
    <div class="list-group">
        {% for seatchart in company.seatcharts.all %}
            <a href="{{ seatchart.get_absolute_url }}" class="list-group-item list-group-item-action">{{ seatchart }}</a>
        {% empty %}
            <a href="" class="list-group-item list-group-item-action">You do not have any seatcharts yet!</a>
        {% endfor %}
    </div>
{% endblock content %}
