{% extends "layouts/base-company.html" %}

{% load static i18n %}

{% block title %}
  {{ company.name }} | {{ seatchart }}
{% endblock title %}

{% block breadcrumb %}
  {{ company.name }}
{% endblock breadcrumb %}

{% block page_title %}
  {{ seatchart }}
{% endblock page_title %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'assets/css/seatchart.css' %}" />
{% endblock extra_css %}

{% block content %}
  <div class="card">
    <div class="card-header my-0 pb-0">
      <a href="{{ company.get_seatchart_url }}" class="link-dark icon-link icon-link-hover ">
        <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
          <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-left" />
        </svg>
        {% translate "Back" %}
      </a>
    </div>
    <div class="card-body">
      <div id="chart"></div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  {{ seatchart.json|json_script:"options" }}
  <script defer type="text/javascript" src="{% static 'assets/js/seats/seatchart.min.js' %}"></script>
  <script defer type="text/javascript" src="{% static 'assets/js/seats/seatchart_detail.js' %}"></script>
{% endblock js %}
