{% extends "layouts/base-account.html" %}

{% load i18n account %}

{% block title %}
  {% trans "Log out" %}
{% endblock title %}

{% block content %}
  <div class="card mt-7">
    <div class="card-header pb-0">
      <h3 class="text-primary text-gradient">Sign Out</h3>
      <p>{% trans "Are you sure you wish to sign out?" %}</p>
    </div>
    <div class="card-body">
      <form action="{% url 'account_logout' %}" role="form" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn bg-gradient-primary w-100">Sign Out</button>
      </form>
    </div>
    <p class="text-sm mx-auto">
      Go back
      <a href="{% url 'pages:home' %}" class="text-primary text-gradient font-weight-bold">Home</a>
    </p>
  </div>
{% endblock content %}
