{% extends "layouts/base-account.html" %}

{% load i18n %}
{% block title %}{% trans "Password Changed" %}{% endblock title %}

{% block content %}

<div class="card card-plain mt-8">
    <div class="card-header pb-0 text-left bg-transparent">
        <h3 class="font-weight-bolder text-info text-gradient">Password Changed!</h3>
    </div>
    <div class="card-body">

        <p>{% trans 'Your password is now changed. Please login' %}</p>

        <div class="text-center">
            <a class="btn bg-gradient-info w-100 mt-4 mb-0" href="{% url 'account_login' %}">
                Login
            </a>
        </div>
    </div>
</div>
{% endblock %}