{% extends "layouts/base-account.html" %}

{% load i18n %}

{% load account %}

{% block title %}
    {% trans "Password Reset" %}
{% endblock title %}

{% block content %}
    <div class="card card-plain mt-8">
        <div class="card-header pb-0 text-left bg-transparent">
            <h3 class="font-weight-bolder text-info text-gradient">Password Reset</h3>
        </div>
        <div class="card-body">
            {% if user.is_authenticated %}

                {% include "account/snippets/already_logged_in.html" %}

            {% endif %}
            <p>
                {% blocktrans %}
            We have sent you an e-mail!<br><br>

            If you have not received it please check your spam folder.
            Otherwise contact us if you do not receive it in a few minutes.
            {% endblocktrans %}
            </p>
            <div class="text-center">
                <a class="btn bg-gradient-info w-100 mt-4 mb-0" href="{% url 'pages:home' %}">Go back home</a>
            </div>
        </div>
    </div>
{% endblock content %}
