{% extends "layouts/base-app.html" %}

{% load i18n %}

{% block title %}
  {% translate "Your Cart" %}
{% endblock title %}

{% block breadcrumb %}
  {% translate "Cart" %}
{% endblock breadcrumb %}

{% block page_title %}
  {% translate "Cart" %}
{% endblock page_title %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h5>{% translate "Cart" %}</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-borderless align-items-center align-middle mb-0">
          <thead>
            <tr>
              {% with klass="text-sm ps-2 opacity-7" %}
                <th class="{{ klass }}">{% translate "Company" %}</th>
                <th class="{{ klass }}">{% translate "Origin" %}</th>
                <th class="{{ klass }}">{% translate "Destination" %}</th>
                <th class="{{ klass }}">{% translate "Quantity" %}</th>
                <th class="{{ klass }}">{% translate "Unit Price" %}</th>
                <th class="{{ klass }}">{% translate "Price" %}</th>
                <th class="{{ klass }}">{% translate "Remove" %}</th>
              {% endwith %}
            </tr>
          </thead>
          <tbody>
            {% for item in cart %}
              {% with trip=item.trip %}
                <tr>
                  <td>
                    <p class="text-sm mb-0">{{ trip.company.name }}</p>
                  </td>
                  <td>
                    <p class="text-sm mb-0">{{ trip.origin }}</p>
                    <p class="text-sm mb-0">{{ trip.departure }}</p>
                  </td>
                  <td>
                    <p class="text-sm mb-0">{{ trip.destination }}</p>
                    <p class="text-sm mb-0">{{ trip.arrival }}</p>
                  </td>
                  <td class="align-middle text-sm">
                    <p class="text-sm mb-0">{{ item.quantity }}</p>
                  </td>
                  <td class="align-middle text-sm">
                    <p class="text-sm mb-0">${{ item.price|floatformat:"-3g" }}</p>
                  </td>
                  <td class="align-middle text-sm">
                    <p class="text-sm mb-0">${{ item.total_price|floatformat:"-3g" }}</p>
                  </td>
                  <td class="align-middle text-sm">
                    <form action="{% url "cart:cart_remove" trip.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn">
                        <i class="bi bi-x-lg" aria-hidden="true"></i>
                        <span class="visually-hidden">{% translate "Remove from cart" %}</span>
                      </button>
                    </form>
                  </td>
                </tr>
              {% endwith %}
            {% empty %}
              <tr>
                <td class="p-5 text-center" colspan="8">
                  <h5>{% translate "Cart is Empty 🛒" %}</h5>
                </td>
              </tr>
            {% endfor %}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <p class="text-sm mb-0">{% translate "Subtotal" %}</p>
              </td>
              <td>
                <p class="text-sm mb-0">${{ cart.get_total_price|floatformat:"-3g" }}</p>
              </td>
              <td></td>
            </tr>
            {% comment "complicated coupon logic" %} <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <p class="text-sm mb-0">"{{ cart.coupon.code }}" {% translate "Coupon" %} ({{ cart.coupon.discount }}% off)</p>
              </td>
              <td>
                <p class="text-sm mb-0">- $ {{ cart.get_discount|floatformat:"-3g" }}</p>
              </td>
              <td></td>
            </tr> {% endcomment %}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <p class="text-sm">{% translate "Total" %}</p>
              </td>
              <td>
                <p class="text-sm">${{ cart.get_total_price_after_discount|floatformat:"-3g" }}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-4 me-3">
    <button type="button" class="btn btn-dark me-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
      {% translate "I have coupon" %}
    </button>
    <a href="{% url 'orders:order_create' %}" class="btn bg-gradient-primary shadow-xl">{% translate "Checkout" %}<i class="bi bi-arrow-right ms-2" aria-hidden="true"></i></a>
  </div>
  {% if not request.session.coupon_id %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">{% translate "Apply Coupon" %}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="{% url "coupons:apply" %}" method="post">
            <div class="modal-body">
              {% csrf_token %}
              {{ coupon_apply_form.non_field_errors }}
              {% for field in coupon_apply_form.visible_fields %}
                <div class="mb-3">
                  <span class="text-danger">{{ field.errors }}</span>
                  <label class="form-label text-sm" for="{{ field.auto_id }}">{{ field.label }}</label>
                  {{ field }}
                  <div class="form-text ms-2" id="{{ field.auto_id }}_helptext">
                    <small>{{ field.help_text|safe }}</small>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">{% translate "Apply" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}
