{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="ROBOTS" content="ALL" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="Copyright" content="Ventanita Team" />
    <meta name="keywords" content="Bus, Argentina, Tickets, Travel, Pasajes" />
    <meta name="author" content="Ventanita Team" />
    {# djlint:off #}
    <meta name="description" content="{% block description %}Ventanita provides information about bus routes and their availability all over Argentina with easy booking service on both web and mobile.{% endblock description %}" />
    {% block og_tags %}

    <meta property="og:title" content="{% block og_title %}Explore Argentina by Bus{% endblock og_title %}" />
    <meta property="og:url" content="{% block og_url %}https://ventanita.com.ar{% endblock og_url %}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{% block og_description %}{% spaceless %}Ventanita provides information about bus routes and their availability all over Argentina with easy booking service on both web and mobile.{% endspaceless %}{% endblock og_description %}" />
    <meta property="og:image" content="{% block og_img %}{% static "assets/img/og_image.jpg" %}{% endblock og_img %}" />
    <meta property="og:image:alt" content="{% block og_img_alt %}Ventanita{% endblock og_img_alt %}" />
    <meta property="og:image:width" content="{% block og_img_w %}1200{% endblock og_img_w %}" />
    <meta property="og:image:height" content="{% block og_img_h %}546{% endblock og_img_h %}" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:site_name" content="Ventanita" />
    <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />

    <meta property="twitter:creator" content="Ventanita" />
    <meta property="twitter:site" content="Ventanita" />
    <meta property="twitter:card" content="{% block twitter_card %}Summary{% endblock twitter_card %}">
    {% endblock og_tags %}

    {# djlint:on #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/icons/favicons/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/icons/favicons/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/icons/favicons/favicon-16x16.png' %}" />
    <link rel="mask-icon" href="{% static 'assets/icons/favicons/safari-pinned-tab.svg' %}" color="#000000" />
    <meta name="msapplication-TileColor" content="#9f00a7" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" type="image/png" href="{% static 'assets/img/logos/logo.svg' %}" />
    {# djlint:off #}
    <link rel="canonical" href="{% block canonical_url %}https://{{ request.get_host }}{{ request.get_full_path }}{% endblock canonical_url %}" />
    <title>{% block title %}{% translate "Book Bus Tickets" %}{% endblock title %} | Ventanita</title>
    {# djlint:on #}
    {% if not debug %}
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-FXKFW99W2Z"></script>
      <script>
           window.dataLayer = window.dataLayer || [];

           function gtag() {
                dataLayer.push(arguments);
           }
           gtag('js', new Date());
           gtag('config', 'G-FXKFW99W2Z');
      </script>
    {% endif %}
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}" />

    {% block extra_css %}
    {% endblock extra_css %}

  </head>
  <body class="g-sidenav-show">

    {% block basecontent %}
    {% endblock basecontent %}

    {% block modal %}
    {% endblock modal %}

    {% include "includes/sessions.html" %}

    {{ request.session.q|json_script:"q" }}
    <script async type="text/javascript" src="{% static 'assets/js/core/bootstrap.bundle.min.js' %}" defer></script>
    <script async type="text/javascript" src="{% static 'assets/js/main.js' %}" defer></script>

    {% block js %}
    {% endblock js %}

  </body>
</html>
