{% extends "layouts/base.html" %}

{% load static %}

{% block title %}
{% endblock title %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block page_title %}
{% endblock page_title %}

{% block basecontent %}

  {% include "includes/navigation-light.html" %}
  {% include "includes/alert.html" %}

  <div class="container min-vh-85">

    {% block content %}
    {% endblock content %}

  </div>
  <div class="container">

    {% include "includes/footer.html" %}

  </div>
{% endblock basecontent %}
