{% extends "layouts/base.html" %}

{% load static %}

{% block basecontent %}

    {% block sidebar %}
    {% endblock sidebar %}

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <header>

            {% include "includes/navigation.html" %}

        </header>

        {% include "includes/alert.html" %}

        <div class="container-fluid min-vh-85 py-md-4 mx-0 px-0 px-md-4">

            {% block content %}
            {% endblock content %}

        </div>
        {% if request.user.is_superuser %}
            <div class="card card-plain mx-3 mt-3">
                {% comment %} Session data {% endcomment %}
                <!-- Modal -->
                <div class="modal fade" id="sessionModal" tabindex="-1" role="dialog" aria-labelledby="sessionModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="font-weight-bolder text-primary text-gradient">Session has...</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="card card-plain">
                                    <div class="card-header pb-0 text-left"></div>
                                    <div class="card-body pb-3">
                                        {% for k, v in request.session.items %}<pre>{{ k }} : {{ v }}</pre>{% endfor %}
                                        <pre>Session Cookie Age:{{ request.session.get_session_cookie_age }} seconds</pre>
                                        <pre>Expiry Age:{{ request.session.get_expiry_age }} seconds</pre>
                                        <pre>Expiry Date:{{ request.session.get_expiry_date }} seconds</pre>
                                        <pre>Expires at browser close? :{{ request.session.get_expire_at_browser_close }}</pre>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn bg-gradient-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% include "includes/footer.html" %}

    </main>
{% endblock basecontent %}
