{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    {# djlint:off #}
    <link rel="canonical" href="{% block canonical_url %}https://{{ request.get_host|cut:"www." }}{{ request.get_full_path }}{% endblock canonical_url %}" />
    <title>{% block title %}{% translate "Pasajes de Micro" %}{% endblock title %} | Ventanita</title>
    <meta name="description" content="{% block description %}Reserva tus pasajes de micro al mejor precio con Ventanita. Compara, elige y viaja con tranquiliadad por toda Argentina 🇦🇷. ¡Tu próxima aventura empieza aquí!{% endblock description %}" />
    {# djlint:on #}
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="Copyright" content="Ventanita Team" />
    <meta name="author" content="Ventanita Team" />
    <meta property="theme-color" content="#ffffff" />
    <meta name="msapplication-config" content="{% static 'assets/icons/favicons/browserconfig.xml' %}" />
    {# djlint:off #}
    {% block og_tags %}

    <meta property="og:title" content="{% block og_title %}Pasajes en micro en Argentina 🇦🇷{% endblock og_title %}" />
    <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri }}{% endblock og_url %}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{% block og_description %}{% spaceless %}Reserva tus pasajes de micro al mejor precio con Ventanita. Compara, elige y viaja con tranquiliadad por toda Argentina 🇦🇷. ¡Tu próxima aventura empieza aquí!{% endspaceless %}{% endblock og_description %}" />
    <meta property="og:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% block og_img %}{% static "assets/img/og_image.jpg" %}{% endblock og_img %}" />
    <meta property="og:image:alt" content="{% block og_img_alt %}Ventanita{% endblock og_img_alt %}" />
    <meta property="og:image:width" content="{% block og_img_w %}1200{% endblock og_img_w %}" />
    <meta property="og:image:height" content="{% block og_img_h %}546{% endblock og_img_h %}" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:site_name" content="Ventanita" />
    <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:creator" content="@Ventanita" />
    <meta property="twitter:site" content="@Ventanita" />
    <meta name="twitter:title" content="{% block tw_title %}Pasajes en micro en Argentina 🇦🇷{% endblock tw_title %}" />
    <meta name="twitter:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% block tw_img %}{% static "assets/img/og_image.jpg" %}{% endblock tw_img %}" />
    <meta name="twitter:description" content="Busca y reserva tus pasajes de micro con facilidad, encuentra promociones y paga con tarjetas o efectivo." />
    {% endblock og_tags %}

    {# djlint:on #}
    <link rel="icon" type="image/png" href="{% static 'assets/icons/favicons/favicon-48x48.png' %}" sizes="48x48" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/icons/favicons/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/icons/favicons/favicon-16x16.png' %}" />
    <link rel="icon" type="image/svg+xml" href="{% static 'assets/icons/favicons/favicon.svg' %}" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/icons/favicons/apple-touch-icon.png' %}" />
    <meta name="apple-mobile-web-app-title" content="Ventanita" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta property="apple-mobile-web-app-status-bar-style" content="default" />
    <link rel="manifest" href="{% static 'assets/icons/favicons/site.webmanifest' %}" />
    <link rel="icon" type="image/svg+xml" href="{% static 'assets/img/logos/logo.svg' %}" />
    {% if not debug %}
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-FXKFW99W2Z"></script>
      <script>
           window.dataLayer = window.dataLayer || [];

           function gtag() {
                dataLayer.push(arguments);
           }
           gtag('js', new Date());
           gtag('config', 'G-FXKFW99W2Z');
      </script>
    {% endif %}
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}" />

    {% block extra_css %}
    {% endblock extra_css %}

  </head>
  <body>

    {% block basecontent %}
    {% endblock basecontent %}

    <div class="dropup position-fixed bottom-0 end-0 me-3">
      <button type="button" class="btn bg-white border dropdown-toggle px-3" data-bs-toggle="dropdown" aria-expanded=
      "false" aria-haspopup="true" data-bs-offset="0,20" aria-label="Help Section"><svg xmlns=
      "http://www.w3.org/2000/svg" width="16" height="16" fill="currentcolor" class="bi bi-question-lg" viewbox=
      "0 0 16 16">
      <path fill-rule="evenodd" d=
      "M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14">
      </path></svg></button>
      <ul class="dropdown-menu d-grid gap-1 p-2 rounded-3 border shadow">
        <li>
          <a class="dropdown-item rounded-2" href="{% url 'pages:feedback' %}">{% translate "Comentarios" %}</a>
        </li>
        <li>
          <a class="dropdown-item rounded-2" href="{% url 'pages:contact' %}">{% translate "Contacto" %}</a>
        </li>
      </ul>
    </div>

    {% block modal %}
    {% endblock modal %}

    {% include "includes/sessions.html" %}

    {{ request.session.q|json_script:"q" }}
    <script async type="text/javascript" src="{% static 'assets/js/core/bootstrap.bundle.min.js' %}" defer></script>
    <script async type="text/javascript" src="{% static 'assets/js/main.js' %}" defer></script>

    {% block js %}
    {% endblock js %}

  </body>
</html>
