{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="ROBOTS" content="ALL" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="Copyright" content="Kpiola Team" />
    <meta name="keywords" content="Bus, Argentina, Tickets, Travel, Pasajes" />
    <meta name="author" content="Kpiola Team" />
    {# djlint:off #}
        <meta name="description" content="{% block description %}Kpiola provides information about bus routes and their availability all over Argentina with easy booking service on both web and mobile.{% endblock description %}" />

        {% block og_tags %}

        <meta property="og:title" content="{% block og_title %}Kpiola{% endblock og_title %}" />
        <meta property="og:description" content="{% block og_description %}{% spaceless %}Book your bus tickets for Argentina.{% endspaceless %}{% endblock og_description %}" />
        <meta property="og:image" content="{% block og_img %}{% static "assets/img/logos/logo.png" %}{% endblock og_img %}" />
        <meta property="og:image:alt" content="{% block og_img_alt %}Kpiola logo{% endblock og_img_alt %}" />
        <meta property="og:image:width" content="{% block og_img_w %}1200{% endblock og_img_w %}" />
        <meta property="og:image:height" content="{% block og_img_h %}546{% endblock og_img_h %}" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:site_name" content="Kpiola" />

        <meta property="twitter:creator" content="Kpiola" />
        <meta property="twitter:site" content="Kpiola" />
        <meta property="twitter:card" content="{% block twitter_card %}Summary{% endblock twitter_card %}">

        {% endblock og_tags %}

    {# djlint:on #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/icons/favicons/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/icons/favicons/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/icons/favicons/favicon-16x16.png' %}" />
    <link rel="mask-icon" href="{% static 'assets/icons/favicons/safari-pinned-tab.svg' %}" color="#000000" />
    <meta name="msapplication-TileColor" content="#9f00a7" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" type="image/png" href="{% static 'assets/img/logos/logo.png' %}" />
    {# djlint:off #}
        <title>{% block title %}Book Bus Tickets{% endblock title %} | Kpiola</title>
    {# djlint:on #}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KCQZXE3FHQ"></script>
    <script>
         window.dataLayer = window.dataLayer || [];

         function gtag() {
              dataLayer.push(arguments);
         }
         gtag('js', new Date());
         gtag('config', 'G-KCQZXE3FHQ');
    </script>
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/autocomplete.css' %}" />

    {% block extra_css %}
    {% endblock extra_css %}

  </head>
  <body class="g-sidenav-show bg-gray-100">

    {% block basecontent %}
    {% endblock basecontent %}

    {{ request.session.q|json_script:"q" }}
    <script type="text/javascript" src="{% static 'assets/js/core/bootstrap.bundle.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'assets/js/main.js' %}" defer></script>

    {% block modal %}
    {% endblock modal %}

    {% block js %}
    {% endblock js %}

    {% include "includes/sessions.html" %}

  </body>
</html>
