{% extends "layouts/base-app.html" %}

{% load i18n static tz %}

{% block extra_css %}
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin="" />
  <link rel="stylesheet" href="{% static 'assets/css/seatchart.css' %}" />
{% endblock extra_css %}

{% block content %}
  <div class="d-flex justify-content-center mb-3">
    <h1>HTMX ❤️ Django</h1>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <h5>Seat Chart</h5>
    </div>
    <div class="card-body">
      <ul class="nav nav-underline justify-content-center mb-3 d-md-none" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active"
                  id="lower-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#lower-tab-pane"
                  type="button"
                  role="tab"
                  aria-controls="lower-tab-pane"
                  aria-selected="true">Lower Floor</button>
        </li>
        <li class="nav-item">
          <button class="nav-link"
                  id="upper-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#upper-tab-pane"
                  type="button"
                  role="tab"
                  aria-controls="upper-tab-pane"
                  aria-selected="true">Upper Floor</button>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="lower-tab-pane" role="tabpanel" aria-labelledby="lower-tab" tabindex="0">
          <div id="lowerSeatChart"></div>
        </div>
        <div class="tab-pane fade" id="upper-tab-pane" role="tabpanel" aria-labelledby="upper-tab" tabindex="0">
          <div id="upperSeatChart"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header pb-0">
      <h5>Timezones</h5>
    </div>
    <div class="card-body">
      {% get_current_timezone as TIME_ZONE %}
      <p class="card-text">Your current timezone is {{ TIME_ZONE }}</p>
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <svg class="bi me-2" width="16" height="16" fill="currentColor" aria-hidden="true">
          <use xlink:href="{% static 'assets/icons/icons.svg' %}#bell" />
        </svg>
        <span class="alert-text"><strong>
          {% if message.tags %}{{ message.tags|title }}:{% endif %}
        </strong>Veer for this to work you need to add the custom timezone middleware. <a href="https://docs.djangoproject.com/en/5.0/topics/i18n/timezones/#selecting-the-current-time-zone" class="alert-link">See this link</a></span>
        <button type="button" class="btn-close pt-3" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <form action="" method="post">
        {% csrf_token %}
        <label for="timezone" class="form-label">Time zone:</label>
        <select name="timezone" class="form-select mb-3">
          {% for city, tz in timezones.items %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ city }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Set" class="btn btn-success" />
      </form>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <h5>Progress in Steps</h5>
    </div>
    <div class="card-body">
      <div class="position-relative m-4 bg-info">
        <div class="progress" role="progressbar" aria-label="Progress" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated w-50"></div>
        </div>
        <button class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill">1</button>
        <button class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill">2</button>
        <button class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill">3</button>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <h5>Change Language</h5>
    </div>
    <div class="card-body">
      <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <div class="row">
          <div class="col-2">
            <select name="language" class="form-select">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                  {{ language.name_local }} ({{ language.code }})
                </option>
              {% endfor %}
            </select>
          </div>
          <div class="col-2">
            <input type="submit" class="btn bg-gradient-primary mb-0" value="Go" />
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <h5>Map</h5>
    </div>
    <div class="card-body min-vh-50 rounded-3" id="map"></div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <h5>Polling every 10s</h5>
    </div>
    <div class="card-body">
      <div hx-get="{% url 'pages:time' %}" hx-trigger="every 10s"></div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <h5>Send Post Request</h5>
    </div>
    <div class="card-body">
      <button class="btn btn-success" hx-post="{% url 'pages:dummy' %}" hx-trigger="click">Click Me!</button>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <h5>Active Search</h5>
    </div>
    <div class="card-body">
      <input type="text"
             name="q"
             placeholder="Your name?"
             class="form-control"
             hx-get="{% url 'pages:dummy' %}"
             hx-trigger="keyup changed delay:500ms"
             hx-target="#answer" />
    </div>
    <div class="d-flex justify-content-center p-1" id="answer"></div>
  </div>
  <hr />
  <div class="card mb-3">
    <div class="card-header">
      <h5>On Mouse Enter</h5>
    </div>
    <div class="card-body">
      <div hx-post="{% url 'pages:dummy' %}" hx-trigger="mouseenter">Bring you mouse here 🐁</div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <h5>Request Indicator</h5>
    </div>
    <div class="card-body">
      <button hx-get="{% url 'pages:dummy' %}?sleep=5" class="btn btn-warning">
        Go to sleep
        <img src="{% static 'assets/svg/loaders/grid.svg' %}" alt="loading indicator" class="htmx-indicator" width="25" height="25" />
      </button>
      <button hx-get="{% url 'pages:dummy' %}?sleep=5" hx-indicator="#indicator" class="btn btn-light">Go to sleep</button>
      <img id="indicator"
           src="{% static 'assets/svg/loaders/grid.svg' %}"
           alt="loading indicator"
           class="htmx-indicator bg-dark rounded-1 p-1"
           width="50"
           height="50" />
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <h5>Form Validation</h5>
    </div>
    <div class="card-body">
      <form class="row g-3" novalidate>
        <div class="col mb-3">
          <label for="validationServerUsername" class="form-label">Username</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend3">@</span>
            <input type="text"
                   class="form-control is-invalid"
                   id="validationServerUsername"
                   aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
                   required />
            <div id="validationServerUsernameFeedback" class="invalid-feedback">username already taken</div>
          </div>
        </div>
        <div class="col mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control is-valid" id="exampleInputEmail1" aria-describedby="emailHelp" required />
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Looks bad!</div>
        </div>
        <div class="col mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control is-invalid" id="exampleInputPassword1" required />
        </div>
        <div class="col mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" required />
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
      </form>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <h5>SVG Spinners</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col col-md-3">
          <p>ball-triangle</p>
          <img src="{% static 'assets/svg/loaders/ball-triangle.svg' %}" width="50" height="50" class="bg-gradient-dark rounded-1 p-2" />
        </div>
        <div class="col col-md-3">
          <p>audio</p>
          <img src="{% static 'assets/svg/loaders/audio.svg' %}" class="bg-info rounded-1 p-2" width="50" height="50" />
        </div>
        <div class="col col-md-3">
          <p>bars</p>
          <img src="{% static 'assets/svg/loaders/bars.svg' %}" class="bg-primary rounded-1 p-2" width="50" height="50" />
        </div>
        <div class="col col-md-3">
          <p>circles</p>
          <img src="{% static 'assets/svg/loaders/circles.svg' %}" class="bg-info rounded-1 p-2" width="50" height="50" />
        </div>
        <div class="col col-md-3">
          <p>grid</p>
          <img src="{% static 'assets/svg/loaders/grid.svg' %}" class="bg-gradient-primary rounded-1 p-2" width="50" height="50" />
        </div>
        <div class="col col-md-3">
          <p>hearts</p>
          <img src="{% static 'assets/svg/loaders/hearts.svg' %}" class="bg-gradient-danger rounded-1 p-2" width="50" height="50" />
        </div>
        <div class="col col-md-3">
          <p>oval</p>
          <img src="{% static 'assets/svg/loaders/oval.svg' %}" class="bg-gradient-success rounded-1 p-2" width="50" height="50" />
        </div>
        <div class="col col-md-3">
          <p>puff</p>
          <img src="{% static 'assets/svg/loaders/puff.svg' %}" class="bg-gradient-warning rounded-1 p-2" width="50" height="50" />
        </div>
        <div class="col col-md-3">
          <p>rings</p>
          <img src="{% static 'assets/svg/loaders/rings.svg' %}" class="bg-gradient-dark rounded-1 p-2" width="50" height="50" />
        </div>
        <div class="col col-md-3">
          <p>spinning circles</p>
          <img src="{% static 'assets/svg/loaders/spinning-circles.svg' %}"
               class="bg-gradient-info rounded-1 p-2"
               width="50"
               height="50" />
        </div>
        <div class="col col-md-3">
          <p>tail spin</p>
          <img src="{% static 'assets/svg/loaders/tail-spin.svg' %}" class="bg-gradient-primary rounded-1 p-2" width="50" height="50" />
        </div>
        <div class="col col-md-3">
          <p>three dots</p>
          <img src="{% static 'assets/svg/loaders/three-dots.svg' %}" class="bg-gradient-light rounded-1 p-2" width="50" height="50" />
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>
  <script type="text/javascript" src="{% static 'assets/js/seats/seatchart.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/index.js' %}"></script>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
          crossorigin=""></script>
  <script>
       var map = L.map('map').setView([51.505, -0.09], 13);

       L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
       }).addTo(map);

       // create a red polyline from an array of LatLng points
       const latlngs = [
            [45.51, -122.68],
            [37.77, -122.43],
            [34.04, -118.2]
       ];

       const polyline = L.polyline(latlngs, {
            color: 'blue',
            weight: 5
       }).addTo(map);

       // zoom the map to the polyline
       map.fitBounds(polyline.getBounds());

       L.marker([45.51, -122.68], {
                 'title': 'This is stop 1',
                 'alt': 'Tea stop'

            }).addTo(map)
            .bindPopup('Here we will stop and have some tea')
  </script>
{% endblock js %}
