{% extends "layouts/base-company.html" %}

{% load static i18n %}

{% block title %}
  {{ company.name }} | {% translate "Passenger List" %}
{% endblock title %}

{% block breadcrumb %}
  {% translate "Passenger List" %}
{% endblock breadcrumb %}

{% block page_title %}
  {{ company.name }}
{% endblock page_title %}

{% block content %}
  <div class="card mb-3">
    <div class="card-header d-flex justify-content-between pb-0">
      <a href="{{ company.get_trip_list_url }}" class="icon-link icon-link-hover">
        <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
          <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-left" />
        </svg>
        {% translate "All Trips" %}
      </a>
      <div>
        <a href="{% url 'companies:trip-update' company.slug trip.id %}" class="icon-link icon-link-hover me-3">
          <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
            <use xlink:href="{% static 'assets/icons/icons.svg' %}#toggles" />
          </svg>
          {% translate "Update Trip" %}
        </a>
        <a href="{% url 'companies:trip-recurrence' company.slug trip.id %}" class="icon-link icon-link-hover">
          <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
            <use xlink:href="{% static 'assets/icons/icons.svg' %}#alarm" />
          </svg>
          {% translate "Create Recurrence" %}
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table align-items-center align-middle mb-0">
          <thead>
            <tr>
              {% with klass="text-sm opacity-7" %}
                <th class="{{ klass }}">{% translate "Company" %}</th>
                <th class="{{ klass }} ps-2">{% translate "Origin" %}</th>
                <th class="{{ klass }} ps-2">{% translate "Destination" %}</th>
                <th class="{{ klass }} ps-2">{% translate "Departure" %}</th>
                <th class="{{ klass }} ps-2">{% translate "Arrival" %}</th>
                <th class="{{ klass }} ps-2">{% translate "Occupancy" %}</th>
                <th class="{{ klass }} ps-2">{% translate "Status" %}</th>
                <th class="{{ klass }} ps-2">{% translate "Seats Available" %}</th>
              {% endwith %}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p class="text-sm mb-0 ps-3">{{ trip.company }}</p>
              </td>
              <td>
                <p class="text-sm mb-0">{{ trip.origin }}</p>
              </td>
              <td>
                <p class="text-sm mb-0">{{ trip.destination }}</p>
              </td>
              <td>
                <p class="text-sm mb-0">{{ trip.departure|date:"D j M P" }}</p>
              </td>
              <td>
                <p class="text-sm mb-0">{{ trip.arrival|date:"D j M P" }}</p>
              </td>
              <td class="align-middle text-center">
                <div class="progress-wrapper w-75">
                  {% with occupancy=trip.occupancy %}
                    <div class="progress-info">
                      <div class="progress-percentage">
                        <span class="text-xs font-weight-bold">{{ occupancy }}%</span>
                      </div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar bg-gradient-primary w-{{ occupancy }}"
                           role="progressbar"
                           aria-valuenow="{{ occupancy }}"
                           aria-valuemin="0"
                           aria-valuemax="100"></div>
                    </div>
                  {% endwith %}
                </div>
              </td>
              <td>
                <span class="badge badge-sm bg-{{ trip.get_status_context }}">{{ trip.get_status_display }}</span>
              </td>
              <td>
                <p class="text-sm mb-0 ms-5">{{ trip.availability }}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between pb-0">
      <p>{% translate "Passengers" %}</p>
      <a href="{% url 'companies:trip-passengers-pdf' company.slug trip.id %}" class="icon-link icon-link-hover" data-type="pdf">
        <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
          <use xlink:href="{% static 'assets/icons/icons.svg' %}#filetype-pdf" />
        </svg>
        {% translate "Download" %}
      </a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-borderless align-items-center">
          <thead>
            <tr>
              {% with klass="text-sm font-weight-bolder opacity-7" %}
                <th class="{{ klass }}">{% translate "Seat Number" %}</th>
                <th class="{{ klass }} ps-2">{% translate "Name" %}</th>
                <th class="{{ klass }} ps-2">{% translate "Nationality" %}</th>
                <th class="{{ klass }} ps-2">{% translate "Gender" %}</th>
                <th class="{{ klass }} ps-2">{% translate "Document" %}</th>
                <th class="{{ klass }} ps-2">{% translate "Number" %}</th>
                <th class="{{ klass }} ps-2">{% translate "Status" %}</th>
              {% endwith %}
            </tr>
          </thead>
          <tbody>
            {% for seat in seats %}
              {% with passenger=seat.passenger klass="text-sm mb-0" %}
                <tr>
                  <td>
                    <p class="{{ klass }} ms-5">{{ seat.seat_number }}</p>
                  </td>
                  <td>
                    <p class="{{ klass }}">{{ passenger.get_full_name }}</p>
                  </td>
                  <td>
                    <p class="{{ klass }}">{{ passenger.nationality.name }}</p>
                  </td>
                  <td>
                    <p class="{{ klass }}">{{ passenger.get_gender_display }}</p>
                  </td>
                  <td>
                    <p class="{{ klass }}">{{ passenger.get_document_type_display }}</p>
                  </td>
                  <td>
                    <p class="{{ klass }}">{{ passenger.document_number }}</p>
                  </td>
                  <td>
                    <p class="{{ klass }}">{{ seat.get_seat_status_display }}</p>
                  </td>
                </tr>
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
