{% extends "layouts/base-company.html" %}

{% load static %}

{% block title %}
  {{ company.name }} | Passenger List
{% endblock title %}

{% block breadcrumb %}
  {{ company.name }}
{% endblock breadcrumb %}

{% block page_title %}
  Passenger List
{% endblock page_title %}

{% block content %}
  <div class="card mb-4">
    <div class="card-header d-flex justify-content-between pb-0">
      <h6>
        <a href="{{ company.get_trip_list_url }}" class="icon-move-left">
          <i class="fas fa-angle-left fa-lg me-2" aria-hidden="true">
          </i>
          All Trips
        </a>
      </h6>
      <div>
        <a class="btn btn-icon btn-outline-dark ms-2 export"
           href="{% url 'companies:trip-update' company.slug trip.id %}"
           type="button">
          <span class="btn-inner--icon"><i class="ni ni-ui-04"></i></span>
          <span class="btn-inner--text">Update Trip</span>
        </a>
        <a class="btn btn-icon btn-outline-dark ms-2 export"
           href="{% url 'companies:trip-recurrence' company.slug trip.id %}"
           type="button">
          <span class="btn-inner--icon"><i class="ni ni-time-alarm"></i></span>
          <span class="btn-inner--text">Create Recurrence</span>
        </a>
      </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive">
        <table class="table align-items-center align-middle mb-0">
          <thead>
            <tr>
              {% with klass="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" %}
                <th class="{{ klass }}">Company</th>
                <th class="{{ klass }} ps-2">Origin</th>
                <th class="{{ klass }} ps-2">Destination</th>
                <th class="{{ klass }} ps-2">Departure</th>
                <th class="{{ klass }} ps-2">Arrival</th>
                <th class="{{ klass }} ps-2">Occupancy</th>
                <th class="{{ klass }} ps-2">Status</th>
                <th class="{{ klass }} ps-2">Seats Available</th>
              {% endwith %}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="d-flex px-2 py-1">
                  <div>
                    <img src="{% static 'assets/img/bus/bus1.jpg' %}" class="avatar avatar-sm me-3" />
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ trip.company }}</h6>
                  </div>
                </div>
              </td>
              <td>
                <p class="text-sm mb-0">{{ trip.origin }}</p>
              </td>
              <td>
                <p class="text-sm mb-0">{{ trip.destination }}</p>
              </td>
              <td>
                <p class="text-sm mb-0">{{ trip.departure|date:"D j M P" }}</p>
              </td>
              <td>
                <p class="text-sm mb-0">{{ trip.arrival|date:"D j M P" }}</p>
              </td>
              <td class="align-middle text-center">
                <div class="progress-wrapper w-75">
                  {% with occupancy=trip.occupancy %}
                    <div class="progress-info">
                      <div class="progress-percentage">
                        <span class="text-xs font-weight-bold">{{ occupancy }}%</span>
                      </div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar bg-gradient-primary w-{{ occupancy }}"
                           role="progressbar"
                           aria-valuenow="{{ occupancy }}"
                           aria-valuemin="0"
                           aria-valuemax="100"></div>
                    </div>
                  {% endwith %}
                </div>
              </td>
              <td>
                <span class="badge badge-sm bg-gradient-{{ trip.get_status_context }}">{{ trip.get_status_display }}</span>
              </td>
              <td>
                <p class="text-sm mb-0 ms-5">{{ trip.availability }}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between pb-0">
      <h6>Passengers</h6>
      <a href="{% url 'companies:trip-passengers-pdf' company.slug trip.id %}"
         class="btn btn-icon btn-outline-dark ms-2 export"
         data-type="pdf"
         type="button">
        <span class="btn-inner--icon"><i class="fas fa-file-pdf text-lg me-1" aria-hidden="true"></i></span>
        <span class="btn-inner--text">Download</span>
      </a>
    </div>
    <div class="card-body px-0 pt-0 pb-2 bg-gradient-white overflow-y-scroll" style="height: 450px;">
      <div class="table-responsive">
        <table class="table table-hover table-borderless align-items-center mb-0">
          <thead>
            <tr>
              {% with klass="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" %}
                <th class="{{ klass }}">Seat Number</th>
                <th class="{{ klass }} ps-2">Name</th>
                <th class="{{ klass }} ps-2">Nationality</th>
                <th class="{{ klass }} ps-2">Gender</th>
                <th class="{{ klass }} ps-2">Document</th>
                <th class="{{ klass }} ps-2">Number</th>
                <th class="{{ klass }} ps-2">Status</th>
              {% endwith %}
            </tr>
          </thead>
          <tbody>
            {% for seat in seats %}
              {% with passenger=seat.passenger klass="text-sm mb-0" %}
                <tr>
                  <td>
                    <p class="{{ klass }} ms-5">{{ seat.seat_number }}</p>
                  </td>
                  <td>
                    <p class="{{ klass }}">{{ passenger.get_full_name }}</p>
                  </td>
                  <td>
                    <p class="{{ klass }}">{{ passenger.nationality.name }}</p>
                  </td>
                  <td>
                    <p class="{{ klass }}">{{ passenger.get_gender_display }}</p>
                  </td>
                  <td>
                    <p class="{{ klass }}">{{ passenger.get_document_type_display }}</p>
                  </td>
                  <td>
                    <p class="{{ klass }}">{{ passenger.document_number }}</p>
                  </td>
                  <td>
                    <p class="{{ klass }}">{{ seat.get_seat_status_display }}</p>
                  </td>
                </tr>
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
