{% extends "layouts/base-company.html" %}

{% load static i18n %}

{% block title %}
  {{ company.name }} | Trips
{% endblock title %}

{% block breadcrumb %}
  {{ company.name }}
{% endblock breadcrumb %}

{% block page_title %}
  {% translate "Trips" %}
{% endblock page_title %}

{% block content %}
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <a href="{{ company.get_admin_url }}">
        <svg class="bi me-2" width="16" height="16" fill="currentColor" aria-hidden="true">
          <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-left" />
        </svg>
        Dashboard
      </a>
      <a href="{% url 'companies:trip-create' company.slug %}">
        <svg class="bi me-1" width="16" height="16" fill="currentColor" aria-hidden="true">
          <use xlink:href="{% static 'assets/icons/icons.svg' %}#plus-lg" />
        </svg>
        {% translate "Create" %}
      </a>
    </div>
    <div class="card-body">
      {% if not trips %}
        <h6 class="text-center mb-3">{% translate "You have no upcoming trips!" %}</h6>
      {% else %}
        <div class="table-responsive">
          <table class="table table-hover table-borderless align-items-center align-middle">
            <thead>
              <tr>
                {% with klass="text-sm font-weight-bolder opacity-7 ps-2" %}
                  <th class="{{ klass }}">{% translate "Company" %}</th>
                  <th class="{{ klass }}">{% translate "Origin" %}</th>
                  <th class="{{ klass }}">{% translate "Destination" %}</th>
                  <th class="{{ klass }}">{% translate "Departure" %}</th>
                  <th class="{{ klass }}">{% translate "Arrival" %}</th>
                  <th class="{{ klass }}">{% translate "Occupancy" %}</th>
                  <th class="{{ klass }}">{% translate "Status" %}</th>
                  <th class="{{ klass }}">{% translate "Available" %}</th>
                  <th class="{{ klass }}">{% translate "View" %}</th>
                {% endwith %}
              </tr>
            </thead>
            <tbody>
              {% for trip in trips %}
                <tr>
                  <td>
                    <p class="text-sm mb-0">{{ trip.company }}</p>
                  </td>
                  <td>
                    <p class="text-sm mb-0">{{ trip.origin }}</p>
                  </td>
                  <td>
                    <p class="text-sm mb-0">{{ trip.destination }}</p>
                  </td>
                  <td>
                    <p class="text-sm mb-0">{{ trip.departure|date:"D j M P" }}</p>
                  </td>
                  <td>
                    <p class="text-sm mb-0">{{ trip.arrival|date:"D j M P" }}</p>
                  </td>
                  <td class="align-middle text-center">
                    {% with occupancy=trip.occupancy %}
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">{{ occupancy }}%</span>
                          </div>
                        </div>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-primary w-{{ occupancy }}"
                               role="progressbar"
                               aria-valuenow="{{ occupancy }}"
                               aria-valuemin="0"
                               aria-valuemax="100"></div>
                        </div>
                      </div>
                    {% endwith %}
                  </td>
                  <td class="align-middle">
                    <span class="badge badge-sm bg-{{ trip.get_status_context }}">{{ trip.get_status_display }}</span>
                  </td>
                  <td>
                    <p class="text-sm mb-0">{{ trip.availability }}</p>
                  </td>
                  <td>
                    <a href="{% url 'companies:trip-detail' company.slug trip.id %}">
                      <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                        <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-right" />
                      </svg>
                      <span class="visually-hidden">View Trip Details</span>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
