{% extends "admin/base_site.html" %}

{% block title %}
    {{ route }} {{ block.super }}
{% endblock title %}

{% block branding %}
    <div id="site-name">
        <a href="{% url 'admin:index' %}">{{ site_header|default:_("Kpiola 🚌") }}</a>
    </div>
{% endblock branding %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url "admin:index" %}">Home</a> &rsaquo;
        <a href="{% url "admin:trips_route_changelist" %}">Routes</a>
        &rsaquo;
        <a href="{% url "admin:trips_route_change" route.id %}">Route {{ order.id }}</a>
        &rsaquo; Price Grid
    </div>
{% endblock breadcrumbs %}

{% block content %}
    <h3>Route: {{ route }}</h3>
    <hr />
    {% if messages %}
        {% for message in messages %}{{ message }}{% endfor %}
        <hr />
    {% endif %}
    <h6>Price Grid</h6>
    <ul>
        {% for key, value in route.price.items %}<li>{{ key }} : ${{ value }}</li>{% endfor %}
    </ul>
    <hr />
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <a href="{% url 'admin:trips_route_changelist' %}">Go back</a>
        <button type="submit">Save</button>
    </form>
{% endblock content %}
