{% extends "layouts/base-company.html" %}

{% load static i18n %}

{% block title %}
  {% translate "Create Recurrences" %} | {{ trip }}
{% endblock title %}

{% block breadcrumb %}
  {{ company.name }}
{% endblock breadcrumb %}

{% block page_title %}
  {% translate "Recurrence" %}
{% endblock page_title %}

{% block content %}
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header pb-0">
          <a href="{{ company.get_trip_list_url }}" class="link-dark icon-link icon-link-hover">
            <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
              <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-left" />
            </svg>
            Back
          </a>
          <h5 class="text-center">{% translate "Create Recurrence" %}</h5>
          <p class="text-center mb-0">{{ trip }}</p>
        </div>
        <div class="card-body">
          <form method="post" id="recurrence-form">
            {% csrf_token %}
            {% for field in form.visible_fields %}
              <div class="mb-3">
                <span class="text-danger">{{ field.errors }}</span>
                <label class="form-label text-sm" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
                <div class="form-text ms-2" id="{{ field.auto_id }}_helptext">
                  <small>{{ field.help_text|safe }}</small>
                </div>
              </div>
            {% endfor %}
            <div class="d-flex justify-content-between">
              <button type="button" onclick="document.getElementById('recurrence-form').reset()" class="btn btn-dark">
                {% translate "Reset" %}
              </button>
              <button type="submit" class="btn btn-success">{% translate "Create Recurrences" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script async type="text/javascript" src="{% static 'assets/js/dates/flatpickr.min.js' %}" defer></script>
  <script async type="text/javascript" src="{% static 'assets/js/dates/recurrence.js' %}" defer></script>
{% endblock js %}
