{% extends "layouts/base-sidebar.html" %}

{% load static %}

{% block title %}
    {% if company %}
        {{ company.name }}
    {% else %}
        Trips
    {% endif %}
{% endblock title %}

{% block breadcrumb %}
    {% if company %}
        {{ company.name }}
    {% else %}
        Trips
    {% endif %}
{% endblock breadcrumb %}

{% block page_title %}
    Results
{% endblock page_title %}

{% block content %}

    {% include "includes/search.html" %}

    {% comment %} Cards format {% endcomment %}
    <div class="row justify-content-center mb-3 mt-4">
        <div class="col-md-12 col-xl-10">
            {% comment %} {% include "includes/filters.html" %} {% endcomment %}
            {% for trip in trips %}
                <div class="card my-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 mb-lg-0 mb-4">
                                <p class="d-none">{% cycle '1' '2' '3' '4' '5' '6' '7' as filename %}</p>
                                <a href="{{ trip.get_absolute_url }}">
                                    <img src="{% static "assets/img/bus/bus"|add:filename|add:'.jpg' %}"
                                         class="img-fluid border-radius-xl shadow-xl"
                                         alt="company-logo"/>
                                </a>
                            </div>
                            <div class="col-md-6 border-md-end">
                                <h5>{{ trip.company }}</h5>
                                <div class="d-flex flex-row">
                                    <div class="mb-1 me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Accepts all major cards">
                                        <i class="fa fa-thin fa-credit-card"></i>
                                        <i class="fa fa-wallet"></i>
                                    </div>
                                    <span class="badge bg-light text-dark mx-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Seats available">{{ trip.seats_available }}</span>
                                    <span class="me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Seat Type">{% cycle 'Cama' 'Semicama' 'Executive' %}</span>
                                </div>
                                <div class="row text-center mt-3">
                                    <div class="col">
                                        <h6 class="mb-1 text-dark font-weight-bold text-sm">{{ trip.departure|date:"D j M P" }}</h6>
                                    </div>
                                    <div class="col border-bottom">
                                        <h6 class="text-dark text-sm mt-3 font-weight-bold">{{ trip.duration }} Hs</h6>
                                    </div>
                                    <div class="col">
                                        <h6 class="mb-1 text-dark font-weight-bold text-sm">{{ trip.arrival|date:"D j M P" }}</h6>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col">
                                        <h6 class="text-dark text-sm">{{ trip.origin }}</h6>
                                    </div>
                                    <div class="col">
                                        <h6 class="text-dark text-sm font-weight-bold mt-2">{{ trip.get_mode_display }}</h6>
                                    </div>
                                    <div class="col">
                                        <h6 class="text-dark text-sm">{{ trip.destination }}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 align-self-center text-center">
                                <form action="{{ trip.get_add_to_cart_url }}" method="post">
                                    <button class="btn btn-outline-light mt-2 position-relative" type="submit">
                                        <h5 class="font-weight-bolder mb-0">${{ trip.price|floatformat:"-2g" }}</h5>
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">+55%
                                            <span class="visually-hidden">potential savings</span>
                                        </span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% comment %} Collapse format {% endcomment %}
    <div class="row justify-content-center mt-4">
        {% for trip in trips %}
            <div class="col-md-12 col-xl-10 mb-2">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-4">
                                <p class="d-none">{% cycle '1' '2' '3' '4' '5' '6' '7' as filename %}</p>
                                <img src="{% static "assets/img/bus/bus"|add:filename|add:'.jpg' %}"
                                     class="img-fluid border-radius-xl shadow-xl"
                                     alt="company-logo"/>
                            </div>
                            <div class="col-2 bg-light"></div>
                            <div class="col-6 text-end">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">{{ trip.company }}</p>
                                    <h5 class="font-weight-bolder mb-0">
                                        ${{ trip.price|floatformat:"-3g" }}
                                        <span class="text-success text-sm font-weight-bolder">+55%</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% comment %} Table format {% endcomment %}
    <div class="card mt-5">
        <div class="card-header">
            <h6>More Results</h6>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-borderless align-items-center align-middle mb-0">
                <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Empresa</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Salida</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">LLegada</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Duracion</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Comodidad</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Acepta</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Descuentos</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Precio</th>
                        <th class="text-secondary opacity-7"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex px-2 py-1">
                                <div>
                                    <img src="{% static 'assets/img/bus/bus1.jpg' %}" class="avatar avatar-sm me-3">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-xs">
                                        Chevalier
                                    </h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">
                                13:00 Hs
                            </p>
                            <p class="text-xs text-secondary mb-0">
                                Martes 20 Dic 2022
                            </p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">
                                17:00 Hs
                            </p>
                            <p class="text-xs text-secondary mb-0">
                                Martes 21 Dic 2022
                            </p>
                        </td>
                        <td class="align-middle">
                            <span class="text-secondary text-xs font-weight-bold">27 Hs</span>
                        </td>
                        <td class="align-middle">
                            <span class="text-secondary text-xs font-weight-bold">Cama</span>
                        </td>
                        <td class="align-middle text-sm">
                            <i class="fa fa-thin fa-credit-card"></i>
                            <i class="fa fa-wallet"></i>
                        </td>
                        <td class="align-middle">
                            <a href="">
                                <span class="text-secondary text-xs font-weight-bold">Ver mas</span>
                            </a>
                        </td>
                        <td class="align-middle">
                            <a href="{% url 'orders:order_create' %}"
                               class="text-secondary font-weight-bold text-xs"
                               data-toggle="tooltip"
                               data-original-title="Edit user">
                                $13.612
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2 py-1">
                                <div>
                                    <img src="{% static 'assets/img/bus/bus2.jpg' %}" class="avatar avatar-sm me-3">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-xs">
                                        Andesmar
                                    </h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">
                                08:00 Hs
                            </p>
                            <p class="text-xs text-secondary mb-0">
                                Martes 20 Dic 2022
                            </p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">
                                13:00 Hs
                            </p>
                            <p class="text-xs text-secondary mb-0">
                                Martes 21 Dic 2022
                            </p>
                        </td>
                        <td class="align-middle">
                            <span class="text-secondary text-xs font-weight-bold">22 Hs</span>
                        </td>
                        <td class="align-middle">
                            <span class="text-secondary text-xs font-weight-bold">SemiCama</span>
                        </td>
                        <td class="align-middle text-sm">
                            <i class="fa fa-thin fa-credit-card"></i>
                            <i class="fa fa-wallet"></i>
                        </td>
                        <td class="align-middle">
                            <a href="">
                                <span class="text-secondary text-xs font-weight-bold">Ver mas</span>
                            </a>
                        </td>
                        <td class="align-middle">
                            <a href="{% url 'orders:order_create' %}"
                               class="text-secondary font-weight-bold text-xs"
                               data-toggle="tooltip"
                               data-original-title="Edit user">
                                $15.612
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2 py-1">
                                <div>
                                    <img src="{% static 'assets/img/bus/bus3.jpg' %}" class="avatar avatar-sm me-3">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-xs">
                                        Cata
                                    </h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">
                                15:00 Hs
                            </p>
                            <p class="text-xs text-secondary mb-0">
                                Martes 20 Dic 2022
                            </p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">
                                02:00 Hs
                            </p>
                            <p class="text-xs text-secondary mb-0">
                                Martes 21 Dic 2022
                            </p>
                        </td>
                        <td class="align-middle">
                            <span class="text-secondary text-xs font-weight-bold">27 Hs</span>
                        </td>
                        <td class="align-middle">
                            <span class="text-secondary text-xs font-weight-bold">Cama</span>
                        </td>
                        <td class="align-middle text-sm">
                            <i class="fa fa-thin fa-credit-card"></i>
                            <i class="fa fa-wallet"></i>
                        </td>
                        <td class="align-middle">
                            <a href="">
                                <span class="text-secondary text-xs font-weight-bold">Ver mas</span>
                            </a>
                        </td>
                        <td class="align-middle">
                            <a href="{% url 'orders:order_create' %}"
                               class="text-secondary font-weight-bold text-xs"
                               data-toggle="tooltip"
                               data-original-title="Edit user">
                                $12.234
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2 py-1">
                                <div>
                                    <img src="{% static 'assets/img/bus/bus4.jpg' %}" class="avatar avatar-sm me-3">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-xs">
                                        Via Bariloche
                                    </h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">
                                12:00 Hs
                            </p>
                            <p class="text-xs text-secondary mb-0">
                                Martes 20 Dic 2022
                            </p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">
                                22:00 Hs
                            </p>
                            <p class="text-xs text-secondary mb-0">
                                Martes 21 Dic 2022
                            </p>
                        </td>
                        <td class="align-middle">
                            <span class="text-secondary text-xs font-weight-bold">27 Hs</span>
                        </td>
                        <td class="align-middle">
                            <span class="text-secondary text-xs font-weight-bold">Cama</span>
                        </td>
                        <td class="align-middle text-sm">
                            <i class="fa fa-thin fa-credit-card"></i>
                            <i class="fa fa-wallet"></i>
                        </td>
                        <td class="align-middle">
                            <a href="">
                                <span class="text-secondary text-xs font-weight-bold">Ver mas</span>
                            </a>
                        </td>
                        <td class="align-middle">
                            <a href="{% url 'orders:order_create' %}"
                               class="text-secondary font-weight-bold text-xs"
                               data-toggle="tooltip"
                               data-original-title="Edit user">
                                $17.612
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2 py-1">
                                <div>
                                    <img src="{% static 'assets/img/bus/bus5.jpg' %}" class="avatar avatar-sm me-3">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-xs">
                                        Plusmar
                                    </h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">
                                09:00 Hs
                            </p>
                            <p class="text-xs text-secondary mb-0">
                                Martes 20 Dic 2022
                            </p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">
                                14:00 Hs
                            </p>
                            <p class="text-xs text-secondary mb-0">
                                Martes 21 Dic 2022
                            </p>
                        </td>
                        <td class="align-middle">
                            <span class="text-secondary text-xs font-weight-bold">27 Hs</span>
                        </td>
                        <td class="align-middle">
                            <span class="text-secondary text-xs font-weight-bold">Cama</span>
                        </td>
                        <td class="align-middle text-sm">
                            <i class="fa fa-thin fa-credit-card"></i>
                            <i class="fa fa-wallet"></i>
                        </td>
                        <td class="align-middle">
                            <a href="">
                                <span class="text-secondary text-xs font-weight-bold">Ver mas</span>
                            </a>
                        </td>
                        <td class="align-middle">
                            <a href="{% url 'orders:order_create' %}"
                               class="text-secondary font-weight-bold text-xs"
                               data-toggle="tooltip"
                               data-original-title="Edit user">
                                $13.532
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2 py-1">
                                <div>
                                    <img src="{% static 'assets/img/bus/bus6.jpg' %}" class="avatar avatar-sm me-3">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-xs">
                                        Pullman
                                    </h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">
                                13:00 Hs
                            </p>
                            <p class="text-xs text-secondary mb-0">
                                Martes 20 Dic 2022
                            </p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">
                                17:00 Hs
                            </p>
                            <p class="text-xs text-secondary mb-0">
                                Martes 21 Dic 2022
                            </p>
                        </td>
                        <td class="align-middle">
                            <span class="text-secondary text-xs font-weight-bold">27 Hs</span>
                        </td>
                        <td class="align-middle">
                            <span class="text-secondary text-xs font-weight-bold">Cama</span>
                        </td>
                        <td class="align-middle text-sm">
                            <i class="fa fa-thin fa-credit-card"></i>
                            <i class="fa fa-wallet"></i>
                        </td>
                        <td class="align-middle">
                            <a href="">
                                <span class="text-secondary text-xs font-weight-bold">Ver mas</span>
                            </a>
                        </td>
                        <td class="align-middle">
                            <a href="{% url 'orders:order_create' %}"
                               class="text-secondary font-weight-bold text-xs"
                               data-toggle="tooltip"
                               data-original-title="Edit user">
                                $13.612
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2 py-1">
                                <div>
                                    <img src="{% static 'assets/img/bus/bus7.jpg' %}" class="avatar avatar-sm me-3">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-xs">
                                        Chevalier
                                    </h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">
                                13:00 Hs
                            </p>
                            <p class="text-xs text-secondary mb-0">
                                Martes 20 Dic 2022
                            </p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">
                                17:00 Hs
                            </p>
                            <p class="text-xs text-secondary mb-0">
                                Martes 21 Dic 2022
                            </p>
                        </td>
                        <td class="align-middle">
                            <span class="text-secondary text-xs font-weight-bold">27 Hs</span>
                        </td>
                        <td class="align-middle">
                            <span class="text-secondary text-xs font-weight-bold">Cama</span>
                        </td>
                        <td class="align-middle text-sm">
                            <i class="fa fa-thin fa-credit-card"></i>
                            <i class="fa fa-wallet"></i>
                        </td>
                        <td class="align-middle">
                            <a href="">
                                <span class="text-secondary text-xs font-weight-bold">Ver mas</span>
                            </a>
                        </td>
                        <td class="align-middle">
                            <a href="{% url 'orders:order_create' %}"
                               class="text-secondary font-weight-bold text-xs"
                               data-toggle="tooltip"
                               data-original-title="Edit user">
                                $13.612
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/flatpickr" defer></script>
    <script type="text/javascript" src="{% static 'assets/js/dates/picker.js' %}" defer></script>
{% endblock js %}
