{% extends "layouts/base-sidebar.html" %}

{% load static %}

{% block title %}
    Create|Update Trip
{% endblock title %}

{% block breadcrumb %}
    Trip
{% endblock breadcrumb %}

{% block page_title %}
    {% if object %}
        Edit trip "{{ object.name }}"
    {% else %}
        Create a new trip
    {% endif %}
{% endblock page_title %}

{% block content %}
    <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
            <div class="card z-index-0">
                <div class="card-header text-center pb-0">
                    <h5>Trip Details</h5>
                </div>
                <div class="card-body">
                    <form method="post" role="form text-left">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center">
                            <input type="submit" value="Save" class="btn btn-primary w-100" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/flatpickr" defer></script>
    <script>
        window.addEventListener("DOMContentLoaded", function () {
        flatpickr(".departure", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            altInput: true,
            altFormat: "F j, H:i",
            minDate: "today",
            maxDate: new Date().fp_incr(330), // 330 days from now,
            locale: {
                firstDayOfWeek: 1, // start from Monday
            },
        });
        flatpickr(".arrival", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            altInput: true,
            altFormat: "F j, H:i",
            minDate: "today",
            maxDate: new Date().fp_incr(330), // 330 days from now,
            locale: {
                firstDayOfWeek: 1, // start from Monday
            },
        });
    });
    </script>
{% endblock js %}
