{% extends "layouts/base-company.html" %}

{% load static i18n %}

{% block title %}
  {% translate "Create|Update Trip" %}
{% endblock title %}

{% block breadcrumb %}
  {{ company }}
{% endblock breadcrumb %}

{% block page_title %}
  {% if trip %}
    {% translate "Edit trip" %} "{{ trip.name }}"
  {% else %}
    {% translate "Create a new trip" %}
  {% endif %}
{% endblock page_title %}

{% block content %}
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header pb-0">
          <a href="{{ company.get_trip_list_url }}" class="icon-link icon-link-hover">
            <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
              <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-left" />
            </svg>
            {% translate "Back" %}
          </a>
          <h5 class="text-center">
            {% if trip %}
              {% translate "Edit" %}
            {% else %}
              {% translate "Create a new trip" %}
            {% endif %}
          </h5>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form.visible_fields %}
              <div class="mb-3">
                <span class="text-danger">{{ field.errors }}</span>
                <label class="form-label text-sm" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
                <div class="form-text ms-2" id="{{ field.auto_id }}_helptext">
                  <small>{{ field.help_text|safe }}</small>
                </div>
              </div>
            {% endfor %}
            {# --SeatChart Select Box #}
            <div class="form-group">
              <label for="seatChart" class="form-label text-sm">SeatChart</label>
              <select class="form-select" name="seatchart" id="seatChart" aria-label="Seat Chart Type" required>
                <option value="">Please select</option>
                {% for seatchart in company.seatcharts.all %}
                  <option value="{{ seatchart.title }}">{{ seatchart }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="d-flex justify-content-between">
              <a href="{{ trip.get_passenger_list_url }}" class="btn btn-outline-secondary">{% translate "Cancel" %}</a>
              <button type="submit" class="btn bg-gradient-primary">{% translate "Save" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script type="text/javascript" src="{% static 'assets/js/dates/flatpickr.min.js' %}" defer></script>
  <script type="text/javascript" src="{% static 'assets/js/dates/trip_form.js' %}" defer></script>
{% endblock js %}
