{% extends "layouts/base-app.html" %}

{% load static i18n trips_extras %}

{% block title %}
  {{ trip }}
{% endblock title %}

{% block breadcrumb %}
  {{ trip.company }}
{% endblock breadcrumb %}

{% block page_title %}
  {{ trip }}
{% endblock page_title %}

{% block content %}
  <div class="card mt-3">
    <div class="card-header pb-0 d-flex justify-content-between">
      <a href="{{ request.META.HTTP_REFERER }}" class="icon-link icon-link-hover">
        <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
          <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-left" />
        </svg>
      {% translate "Back" %}</a>
      <img src="{{ trip.company.cover.url }}"
           width="200"
           height="100"
           alt="Logo of bus company {{ company.name }}"
           class="img-fluid"
           loading="lazy" />
    </div>
    <div class="card-body p-3">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <td>{% translate "Order" %}</td>
              <td>{% translate "Stop" %}</td>
              <td>{% translate "Arrival" %}</td>
              <td>{% translate "Departure" %}</td>
            </tr>
          </thead>
          <tbody>
            {% for stop in trip.stops %}
              <tr>
                <td>{{ stop.order|add:1 }}</td>
                <td>{{ stop.name }}</td>
                <td>{{ stop.arrival|date:"H:i" }}</td>
                <td>{{ stop.departure|date:"H:i" }}</td>
              </tr>
            {% empty %}
              <p>{% translate "There are no stops for this route." %}</p>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <form action="{{ trip.get_add_to_cart_url }}" method="post">
        {% csrf_token %}
        <button class="btn bg-gradient-primary btn-round icon-link icon-link-hover fs-6" type="submit">
          ARS {% get_price trip origin destination as price %} {{ price|floatformat:"-2g" }}
          <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
            <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-right" />
          </svg>
        </button>
      </form>
    </div>
  </div>
{% endblock content %}
