{% extends "layouts/base-sidebar.html" %}

{% load static %}

{% block title %}
    Create|Update Trip
{% endblock title %}

{% block breadcrumb %}
    Trip
{% endblock breadcrumb %}

{% block page_title %}
    {% if trip %}
        Edit trip "{{ trip.name }}"
    {% else %}
        Create a new trip
    {% endif %}
{% endblock page_title %}

{% block content %}
    <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
            <div class="card z-index-0">
                <div class="card-header d-flex justify-content-left pb-0">
                    <h6>
                        <a href="{{ company.get_trip_list_url }}" class="icon-move-left">
                            <i class="fas fa-angle-left fa-lg me-2" aria-hidden="true">
                            </i>
                            Back
                        </a>
                    </h6>
                </div>
                <div class="card-body">
                    <form method="post" role="form text-left">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% for field in form.visible_fields %}
                            <div class="mb-3">
                                <label>{{ field.label }}</label>
                                <div class="text-danger">{{ field.errors }}</div>
                                {{ field }}
                                <div class="form-text ms-2">{{ field.help_text|safe }}</div>
                            </div>
                        {% endfor %}
                        <div class="d-flex justify-content-end">
                            <a href="{{ trip.get_passenger_list_url }}" class="btn btn-white me-3">Cancel</a>
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'assets/js/dates/flatpickr.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'assets/js/dates/trip_form.js' %}" defer></script>
{% endblock js %}
