{% extends "layouts/base-app.html" %}

{% load static i18n %}

{% block breadcrumb %}
  {{ item.trip.company }}
{% endblock breadcrumb %}

{% block page_title %}
  {% translate "Checkin" %}
{% endblock page_title %}

{% block title %}
  {% translate "Checkin" %}
{% endblock title %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">{% translate "CheckIn" %}</h5>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <td>{% translate "Company" %}</td>
            <td>{% translate "Trip" %}</td>
            <td>{% translate "Num Passengers" %}</td>
            <td>{% translate "Seats" %}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ item.trip.company }}</td>
            <td>{{ item.trip.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.seats }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
