{% extends "layouts/base-sidebar.html" %}

{% load static %}

{% block breadcrumb %}
  {{ item.trip.company }}
{% endblock breadcrumb %}

{% block page_title %}
  Checkin
{% endblock page_title %}

{% block title %}
  {{ item }} | Checkin
{% endblock title %}

{% block content %}
  <h1>CheckIn</h1>
  <table class="table">
    <thead>
      <tr>
        <td>Company</td>
        <td>Trip</td>
        <td>Num Passengers</td>
        <td>Seats</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ item.trip.company }}</td>
        <td>{{ item.trip.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.seats }}</td>
      </tr>
    </tbody>
  </table>
{% endblock content %}
