{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% translate "Invoice" %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/invoice.css' %}" />
  </head>
  <body>
    <div class="flex-container">
      <h1>{% translate "Invoice" %}</h1>
      <div class="brand-logo">
        <h1>Kpiola</h1>
      </div>
    </div>
    <div class="invoice-details">
      <div>
        {% translate "Invoice number" %}
        <br />
        {% translate "Date of issue" %}
        <br />
        {% translate "Date due" %}
        <br />
      </div>
      <div>
        {{ code }}
        <br />
        {{ order.created_on|date:"F j, Y" }}
        <br />
        {{ order.created_on|date:"F j, Y" }}
        <br />
      </div>
    </div>
    <div class="flex-container">
      <div>
        <h3>Kpiola</h3>
        Uspalla 471, CP 1143
        <br />
        Buenos Aires Argentina
        <br />
        support@kpiola.com.ar
        <br />
      </div>
      <div>
        <h3>{% translate "Bill to" %}</h3>
        <p>
          {{ order.name }}
          <br />
          {{ order.email }}
        </p>
      </div>
    </div>
    <h3>{% translate "Summary" %}</h3>
    <table>
      <thead>
        <tr>
          <th>{% translate "Description" %}</th>
          <th>{% translate "Qty" %}</th>
          <th>{% translate "Unit Price" %}</th>
          <th>{% translate "Amount" %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{% translate "Bus ticket" %} {{ origin }} - {{ destination }}</td>
          <td>{{ passengers.count }}</td>
          <td>ARS {{ item.price|floatformat:"-3g" }}</td>
          <td>ARS {{ item.get_cost|floatformat:"-3g" }}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="border-top">{% translate "Subtotal" %}</td>
          <td class="border-top">ARS {{ order.get_total_cost_before_discount|floatformat:"-3g" }}</td>
        </tr>
        {% if order.coupon %}
          <tr>
            <td></td>
            <td></td>
            <td class="border-top">{% translate "Coupon Discount" %}</td>
            <td class="border-top">- ARS{{ order.get_discount|floatformat:"-3g" }}</td>
          </tr>
        {% endif %}
        <tr class="total">
          <td></td>
          <td></td>
          <td class="border-top">{% translate "Total" %}</td>
          <td class="border-top">ARS {{ order.get_total_cost|floatformat:"-3g" }}</td>
        </tr>
      </tbody>
    </table>
    <footer>
      <hr />
      {{ code }} | ARS {{ order.get_total_cost|floatformat:"-3g" }} {% translate "due" %} {{ order.created_on|date:"F j, Y" }}
    </footer>
  </body>
</html>
