{% extends "layouts/base-app.html" %}

{% load static i18n trips_extras %}

{% block title %}
  {% translate "Order" %}
{% endblock title %}

{% block breadcrumb %}
  {% translate "Order" %}
{% endblock breadcrumb %}

{% block page_title %}
  {% translate "Passenger Details" %}
{% endblock page_title %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'assets/css/seatchart.css' %}" />
{% endblock extra_css %}

{% block content %}
  <div class="row">
    <div class="col-12 col-lg-8">
      <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ formset.non_form_errors }}
        <div class="mb-3">
          {% for item in cart %}
            {% with trip=item.trip %}

              {% include "includes/seat_modal.html" %}

            {% endwith %}
          {% endfor %}
        </div>
        {% for form in formset %}
          <div class="card mb-3">
            <div class="card-header pb-0">
              <h5 class="card-title">{% translate "Passenger" %} {{ forloop.counter }}</h5>
            </div>
            <div class="card-body">
              {{ form.non_field_errors }}
              <div class="row">
                <div class="col-md-4">
                  <div class="mb-3">
                    <span class="text-danger">{{ form.document_type.errors }}</span>
                    <label class="form-label" for="{{ form.document_type.auto_id }}">{{ form.document_type.label }}</label>
                    {{ form.document_type }}
                    <div class="form-text ms-2" id="{{ form.document_type.auto_id }}_helptext">
                      <small>{{ form.document_type.help_text|safe }}</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <span class="text-danger">{{ form.document_number.errors }}</span>
                    <label class="form-label" for="{{ form.document_number.auto_id }}">{{ form.document_number.label }}</label>
                    <div class="input-group">
                      <span class="input-group-text z-index-0">🔍</span>
                      {{ form.document_number }}
                    </div>
                    <div class="form-text ms-2" id="{{ form.document_number.auto_id }}_helptext">
                      <small>{{ form.document_number.help_text|safe }}</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <span class="text-danger">{{ form.nationality.errors }}</span>
                    <label class="form-label" for="{{ form.nationality.auto_id }}">{{ form.nationality.label }}</label>
                    {{ form.nationality }}
                    <div class="form-text ms-2" id="{{ form.nationality.auto_id }}_helptext">
                      <small>{{ form.nationality.help_text|safe }}</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="mb-3">
                    <span class="text-danger">{{ form.first_name.errors }}</span>
                    <label class="form-label" for="{{ form.first_name.auto_id }}">{{ form.first_name.label }}</label>
                    {{ form.first_name }}
                    <div class="form-text ms-2" id="{{ form.first_name.auto_id }}_helptext">
                      <small>{{ form.first_name.help_text|safe }}</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <span class="text-danger">{{ form.last_name.errors }}</span>
                    <label class="form-label" for="{{ form.last_name.auto_id }}">{{ form.last_name.label }}</label>
                    {{ form.last_name }}
                    <div class="form-text ms-2" id="{{ form.last_name.auto_id }}_helptext">
                      <small>{{ form.last_name.help_text|safe }}</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <span class="text-danger">{{ form.gender.errors }}</span>
                    <label class="form-label" for="{{ form.gender.auto_id }}">{{ form.gender.label }}</label>
                    {{ form.gender }}
                    <div class="form-text ms-2" id="{{ form.gender.auto_id }}_helptext">
                      <small>{{ form.gender.help_text|safe }}</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="mb-3">
                    <span class="text-danger">{{ form.birth_date.errors }}</span>
                    <label class="form-label" for="{{ form.birth_date.auto_id }}">{{ form.birth_date.label }}</label>
                    {{ form.birth_date }}
                    <div class="form-text ms-2" id="{{ form.birth_date.auto_id }}_helptext">
                      <small>{{ form.birth_date.help_text|safe }}</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <span class="text-danger">{{ form.phone_number.errors }}</span>
                  <label class="form-label" for="{{ form.phone_number.auto_id }}">{{ form.phone_number.label }}</label>
                  <div class="input-group">
                    <span class="input-group-text z-index-0">📞</span>
                    {{ form.phone_number }}
                  </div>
                  <div class="form-text ms-2" id="{{ form.phone_number.auto_id }}_helptext">
                    <small>{{ form.phone_number.help_text|safe }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="card mt-3">
          <div class="card-header pb-0">
            <h5 class="card-title">{% translate "Your Contact Information" %}</h5>
          </div>
          <div class="card-body">
            {{ form.non_field_errors }}
            {% for field in form.visible_fields %}
              <div class="mb-3">
                {{ field.errors }}
                <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                  <div id="{{ field.auto_id }}_helptext" class="form-text ms-2">
                    <small>{{ field.help_text|safe }}</small>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            <div class="form-check form-check-info text-left ms-2">
              <input class="form-check-input" type="checkbox" value="" id="termsCheckbox" required />
              <label class="form-check-label text-muted" for="termsCheckbox">
                {% translate "I agree to the" %} <a href="{% url 'pages:terms' %}" target="_blank">{% translate "Terms and Conditions" %}</a>
              </label>
            </div>
            <div class="d-flex justify-content-end mt-4">
              <button class="btn bg-gradient-primary btn-round icon-link icon-link-hover" type="submit">
                {% translate "Checkout" %}
                <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-right" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 col-lg-4">
      {% for item in cart %}
        {% with trip=item.trip %}
          {% get_departure trip origin as origin_departure %}
          {% get_arrival trip destination as destination_arrival %}
          {% get_price trip origin destination as price %}
          {# Trip Summary Card #}
          <div class="card mt-3 mt-md-0 mb-3">
            <div class="card-header pb-0">
              <h5 class="card-title">{% translate "Trip Summary" %}</h5>
            </div>
            <div class="card-body p-3">
              <div class="timeline timeline-one-side" data-timeline-axis-style="dotted">
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                      <use xlink:href="{% static 'assets/icons/icons.svg' %}#geo" />
                    </svg>
                  </span>
                  <div class="timeline-content">
                    <h6 class="mb-0">{{ origin }}</h6>
                    <p class="mt-1 mb-0">{{ origin_departure }}</p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                      <use xlink:href="{% static 'assets/icons/icons.svg' %}#geo-fill" />
                    </svg>
                  </span>
                  <div class="timeline-content">
                    <h6 class="mb-0">{{ destination }}</h6>
                    <p class="mt-1 mb-0">{{ destination_arrival }}</p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                      <use xlink:href="{% static 'assets/icons/icons.svg' %}#stopwatch" />
                    </svg>
                  </span>
                  <div class="timeline-content">
                    <h6 class="mb-0">{% translate "Duration" %}</h6>
                    <p class="mt-1 mb-0">{% get_duration trip origin destination %}</p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                      <use xlink:href="{% static 'assets/icons/icons.svg' %}#bus-front" />
                    </svg>
                  </span>
                  <div class="timeline-content">
                    <h6 class="mb-0">{% translate "Company" %}</h6>
                    <p class="mt-1 mb-0">{{ trip.company }}</p>
                  </div>
                </div>
                <div class="timeline-block">
                  <span class="timeline-step">
                    <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                      <use xlink:href="{% static 'assets/icons/icons.svg' %}#coin" />
                    </svg>
                  </span>
                  <div class="timeline-content">
                    <h6 class="mb-0">{% translate "Price" %}</h6>
                    <p class="mt-1 mb-0">ARS {{ price|floatformat:"-2g" }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endwith %}
      {% empty %}
        <div class="card mt-3">
          <div class="card-body">
            <h5>{% translate "Cart is empty! 📭" %}</h5>
          </div>
        </div>
      {% endfor %}
      {% comment "TODO: This price summary block can be hugely simplified" %}{% endcomment %}
      <div class="card">
        <div class="card-header pb-0">
          <h5 class="card-title">{% translate "Fare Summary" %}</h5>
        </div>
        <div class="card-body px-4">
          {% for item in cart %}
            {% with trip=item.trip %}
              {% get_price trip origin destination as price %}
              {% with ""|center:item.quantity as range %}
                {% for _ in range %}
                  <div class="d-flex justify-content-between">
                    <p>{% translate "Passenger" %} {{ forloop.counter }}</p>
                    <p>ARS {{ price|floatformat:"-2g" }}</p>
                  </div>
                {% endfor %}
              {% endwith %}
            {% endwith %}
          {% endfor %}
          {% if cart.coupon %}
            <div class="d-flex justify-content-between">
              <p>{% translate "Coupon" %} ({{ cart.coupon.discount }}% off)</p>
              <p>- ARS {{ cart.get_discount|floatformat:"-2g" }}</p>
            </div>
          {% endif %}
          <div class="d-flex justify-content-between">
            <h6>{% translate "Total" %}</h6>
            <h6>ARS {{ cart.get_total_price_after_discount|floatformat:"-2g" }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% with trips=cart.to_dict %}{{ trips.0|json_script:"options" }}{% endwith %}
{% endblock content %}

{% block js %}
  <script type="text/javascript" src="{% static 'assets/js/seats/seatchart.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/seats/seats.js' %}"></script>
{% endblock js %}
