{% extends "layouts/base-sidebar.html" %}

{% load static %}

{% block title %}
    Order
{% endblock title %}

{% block breadcrumb %}
    Order
{% endblock breadcrumb %}

{% block page_title %}
    Passenger Details
{% endblock page_title %}

{% block content %}
    <div class="row">
        <div class="col-12 col-lg-8">
            <form action="{% url 'payments:home' %}" method="get" autocomplete="on">
                <div class="card mx-3 mx-md-0">
                    <div class="card-header pb-0">
                        <h5>Passenger Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <select class="form-select" name="document_type" id="document_type" aria-label="Document Type" required>
                                        <option value="">
                                            Identification
                                        </option>
                                        {% with "dni passport cedula le lc cuit nie rg rne cpf rut curp cnpj" as document_types %}
                                            {% for document in document_types.split %}
                                                <option value="{{ document }}" {% if request.session.order.document_type == document %}selected{% endif %}>
                                                    {{ document|upper }}
                                                </option>
                                            {% endfor %}
                                        {% endwith %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-text z-index-0">🔍</span>
                                            <input class="form-control"
                                                   type="text"
                                                   name="document_number"
                                                   placeholder="Identification Number"
                                                   id="document_number"
                                                   value="{{ request.session.order.document_number }}"
                                                   aria-label="Document Number"
                                                   aria-describedby="Document Number"
                                                   required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <select class="form-select" name="nationality" id="nationality" aria-label="Nationality" required>
                                        <option value="">
                                            Nationality
                                        </option>
                                        {% with "Argentina Chile Brazil Peru Bolivia Australia Brazil Canada France Germany Italy Spain UK USA Other" as nationalities %}
                                            {% for nationality in nationalities.split %}
                                                <option value="{{ nationality }}" {% if request.session.order.nationality == nationality %}selected{% endif %}>
                                                    {{ nationality }}
                                                </option>
                                            {% endfor %}
                                        {% endwith %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <input id="first_name"
                                           name="first_name"
                                           class="form-control"
                                           type="text"
                                           placeholder="First Name"
                                           value="{{ request.session.order.first_name }}"
                                           required="required"
                                           onfocus="focused(this)"
                                           onfocusout="defocused(this)"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <input id="last_name"
                                           name="last_name"
                                           class="form-control"
                                           type="text"
                                           placeholder="Last Name"
                                           value="{{ request.session.order.last_name }}"
                                           required="required"
                                           onfocus="focused(this)"
                                           onfocusout="defocused(this)"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <select class="form-select" id="gender" name="gender" required>
                                        <option value="">
                                            Gender
                                        </option>
                                        <option value="female" {% if request.session.order.gender == 'female' %}selected{% endif %}>
                                            Female
                                        </option>
                                        <option value="male" {% if request.session.order.gender == 'male' %}selected{% endif %}>
                                            Male
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <input class="form-control"
                                           type="text"
                                           name="birthDate"
                                           id="birthDate"
                                           placeholder="Birth date [ dd/mm/yyyy ]"
                                           value="{{ request.session.order.birthDate }}"
                                           aria-label="Birth Date"
                                           aria-describedby="Birth Date"
                                           required/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-text z-index-0">📞</span>
                                        <input class="form-control"
                                               name="phone"
                                               type="tel"
                                               placeholder="Phone"
                                               value="{{ request.session.order.phone }}"
                                               id="phone"
                                               required/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-text z-index-0">💺</span>
                                        <input class="form-control bg-white"
                                               type="text"
                                               name="seat"
                                               id="seat"
                                               data-bs-toggle="modal"
                                               data-bs-target="#seatSelectModal"
                                               value="{{ request.session.order.seat }}"
                                               aria-label="Seat Number"
                                               aria-describedby="Seat Number"
                                               required
                                               readonly/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mx-3 mx-md-0 mt-3">
                    <div class="card-header pb-0 pt-4">
                        <h5>Your contact information</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Name"
                                   value="{{ request.session.order.payerName }}"
                                   aria-label="Name"
                                   aria-describedby="name-addon"
                                   name="payerName"
                                   required/>
                        </div>
                        <div class="mb-3">
                            <input type="email"
                                   class="form-control"
                                   placeholder="Email"
                                   aria-label="Email"
                                   aria-describedby="emailHelp"
                                   name="payerEmail"
                                   value="{{ request.session.order.payerEmail }}"
                                   required/>
                            <div id="emailHelp" class="form-text ms-2">
                                <small>We'll email the ticket to this email id.</small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="phone"
                                   class="form-control"
                                   placeholder="Phone"
                                   aria-label="Phone"
                                   aria-describedby="phone-addon"
                                   name="payerPhone"
                                   value="{{ request.session.order.payerPhone }}"
                                   required/>
                        </div>
                        <div class="mb-3">
                            <select class="form-select bg-transparent"
                                    name="payerResidence"
                                    aria-label="Residence"
                                    aria-describedby="residenceHelp"
                                    name="payerResidence"
                                    value="{{ request.session.order.payerResidence }}"
                                    required>
                                <option value="">
                                    Country of residence
                                </option>
                                <option value="Argentina" {% if request.session.order.payerResidence == "Argentina" %}selected{% endif %}>
                                    Argentina
                                </option>
                                <option value="Chile" {% if request.session.order.payerResidence == "Chile" %}selected{% endif %}>
                                    Chile
                                </option>
                                <option value="Brazil" {% if request.session.order.payerResidence == "Brazil" %}selected{% endif %}>
                                    Brazil
                                </option>
                                <option value="Peru" {% if request.session.order.payerResidence == "Peru" %}selected{% endif %}>
                                    Peru
                                </option>
                                <option value="Other" {% if request.session.order.payerResidence == "Other" %}selected{% endif %}>
                                    Other
                                </option>
                            </select>
                            <div id="residenceHelp" class="form-text ms-2">
                                <small>This helps us to show you the best payment options.</small>
                            </div>
                        </div>
                        <div class="form-check form-check-info text-left ms-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked required/>
                            <label class="form-check-label" for="flexCheckDefault">
                                I agree the <a href="javascript:;" class="text-dark font-weight-bolder">Terms and Conditions</a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-lg" type="submit">Checkout</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card m-3 m-md-0">
                <div class="card-header pb-0">
                    <h6>Order overview</h6>
                    <p class="text-sm">
                        <i class="fa fa-arrow-up text-success" aria-hidden="true"></i>
                        <span class="font-weight-bold">24%</span> savings
                    </p>
                </div>
                <div class="card-body p-3">
                    <div class="timeline timeline-one-side">
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="ni ni-square-pin text-success text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">From {{ request.session.q.origin }}</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{ request.session.trip.departure }}</p>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="ni ni-pin-3 text-danger text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">To {{ request.session.q.destination }}</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{ request.session.trip.arrival }}</p>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="ni ni-bus-front-12 text-info text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">Company</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{ request.session.trip.company }}</p>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="ni ni-time-alarm text-warning text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">Duration</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{ request.session.trip.duration }} Hs</p>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="ni ni-single-02 text-primary text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">Passengers</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{ request.session.q.num_of_passengers }} Adults</p>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="ni ni-money-coins text-primary text-dark"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">Price</h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">${{ request.session.trip.price }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade"
         id="seatSelectModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="seatSelectModal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="font-weight-bolder text-primary text-gradient">Choose your Seat</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card card-plain">
                        <div class="card-body pb-3" id="seat-container"></div>
                    </div>
                </div>
                <div class="modal-footer d-none" id="modal-footer">
                    <button type="button" class="btn bg-gradient-default" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal" id="seat-submit">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'assets/js/seats/seatchart.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'assets/js/seats/seats.js' %}" defer></script>
{% endblock js %}
