{% load static qr_code %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Bus ticket">
        <title>Bus Ticket</title>
        <link rel="stylesheet" href="{% static 'assets/css/ticket.css' %}" rel="stylesheet">
    </head>
    <body>
        <section>
            <h2>Veer add your awesome ticket here</h2>
        </section>
        <section>
            <h2>Some more important trip details here</h2>
        </section>
        <section>
            {% qr_from_text qr_url size="S" dark_color="#2a3239" %}
            <ul>
                <li>{{ trip.origin }} → {{ trip.destination }}</li>
                <li>{{ trip.departure|date:"P" }}</li>
            </ul>
        </section>
    </body>
</html>
