{% load static i18n qr_code trips_extras %}

{% get_departure trip origin as origin_departure %}
{% get_arrival trip destination as destination_arrival %}
{% get_duration trip origin destination as duration %}
{% get_price trip origin destination as price %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Bus ticket" />
    <title>{% translate "Bus Ticket" %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/ticket.css' %}" />
  </head>
  <body>
    <section>
      <strong>{{ origin_departure }}</strong> {% translate "Trip from " %}<strong>{{ origin }} - {{ destination }}</strong>
    </section>
    <hr />
    <section>
      <p>
        {% translate "Prepared for" %} <strong>{{ order.name }}</strong>
      </p>
      <p>
        {% translate "Reservation Code" %} <strong>{{ code }}</strong>
      </p>
      <p>
        {% translate "Company" %} <strong>{{ company }}</strong>
      </p>
    </section>
    <hr />
    <section>
      <div class="departure-container">
        <div>
          <p>
            {% translate "DEPARTURE" %}: <strong>{{ origin_departure|date:"l d F Y H:i" }}</strong>
          </p>
        </div>
        <div>
          <p>{{ company|upper }}</p>
        </div>
      </div>
      <div class="container">
        <article>
          <p>
            <strong>{{ company|upper }}</strong>
          </p>
          <p class="smaller">{% translate "Trip:" %} {{ trip_code }}</p>
          <p class="smaller">{% translate "Duration:" %} {{ duration }}</p>
          <p class="smaller">{% translate "Status:" %} Confirmed</p>
        </article>
        <article>
          <div>
            <section class="trip">
              <table>
                <thead>
                  <tr>
                    <td>{{ origin.abbr|upper }}</td>
                    <td>{{ destination.abbr|upper }}</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ origin }}</td>
                    <td>{{ destination }}</td>
                  </tr>
                </tbody>
              </table>
            </section>
            <div class="container">
              <div class="departure">
                <p class="smaller">{% translate "Departing at" %}</p>
                <strong class="larger">{{ origin_departure|date:"H:i" }}</strong>
                <p class="smaller">{{ origin_departure|date:"l d F" }}</p>
              </div>
              <div class="arrival">
                <p class="smaller">{% translate "Arrival at" %}</p>
                <strong class="larger">{{ destination_arrival|date:"H:i" }}</strong>
                <p class="smaller">{{ destination_arrival|date:"l d F" }}</p>
              </div>
            </div>
          </div>
        </article>
      </div>
    </section>
    <section class="passengers">
      <table>
        <thead>
          <tr class="table-header">
            <td>{% translate "Passenger" %}</td>
            <td>{% translate "Seats" %}</td>
            <td>{% translate "Class" %}</td>
            <td>{% translate "Booking" %}</td>
          </tr>
        </thead>
        <tbody>
          {% for passenger in passengers %}
            <tr>
              <td>{{ passenger.get_full_name }}</td>
              <td>{{ forloop.counter }}</td>
              <td>{{ trip.get_category_display }}</td>
              <td>{% translate "Confirmed" %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    <section>
      {% qr_from_text qr_url size="S" dark_color="#2a3239" %}
    </section>
  </body>
</html>
