body {
  font-family: Georgia, serif;
  color: #222;
  line-height: 1.5;
}

@page {
  size: A4;
  margin: 3.5mm;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 20px 0;
}

table th,
table td {
  text-align: left;
  padding: 10px;
  margin: 0;
}

thead th {
  border-bottom: 1px solid black;
  font-weight: normal;
}

tbody tr.total {
  font-weight: bold;
}

h1 {
  margin: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}


.border-top {
  border-top: 1px solid lightgrey;
}

.brand-logo {
  padding-inline: 1rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% auto;
}

.invoice-details {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 5% auto;
}

.secondary {
  color: #bbb;
  margin-bottom: 20px;
}

.paid,
.pending {
  color: #1bae37;
  border: 4px solid #1bae37;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  padding: 4px 12px 0px;
  float: right;
  transform: rotate(-15deg);
  margin-right: 40px;
}

.pending {
  color: #a82d2d;
  border: 4px solid #a82d2d;
}