{% extends "layouts/base-app.html" %}

{% load static i18n %}

{% block content %}
    <img src="{% static 'assets/img/vendors/logo_modo.svg' %}" alt="Logo for MODO payment processor" width="200" height="100" />
    <div class="card mb-3">
        <div class="card-body">
            <button class="btn bg-gradient-primary modoBtn">
                Pagá con MODO
                <span class="visually-hidden">{% translate "Pay with Modo" %}</span>
            </button>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {{ payment_intent|json_script:"payment_intent" }}
    <script src="https://ecommerce-modal.preprod.modo.com.ar/bundle.js"></script>
    <script src="{% static 'assets/js/payment/modo.js' %}"></script>
{% endblock js %}
