{% extends "layouts/base-app.html" %}

{% load static %}

{% block title %}
  Payment Unsuccessful
{% endblock title %}

{% block breadcrumb %}
  Payment / Unsuccessful
{% endblock breadcrumb %}

{% block page_title %}
  Payment Unsuccessful
{% endblock page_title %}

{% block content %}
  <div class="row">
    <div class="col-lg-5 col-md-7 mx-auto">
      <div class="alert alert-danger mt-3" role="alert">
        <h4 class="alert-heading mb-3">
          <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" role="img" aria-label="Danger:">
          </i>Payment Unsuccessful
        </h4>
        <p>
          We were unable to receive a confirmation for your payment.
          Incase of trouble you can
          <a href="{% url 'pages:contact' %}" class="alert-link text-decoration-underline"><strong>contact us here</strong></a>
        </p>
        <div class="d-flex justify-content-between pt-3">
          <a href="{% url 'pages:home' %}" class="alert-link text-decoration-underline">Go back home</a>
          <a href="{% url 'payments:home' %}" class="alert-link text-decoration-underline">Try again</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
