{% extends "layouts/base-app.html" %}

{% load static i18n %}

{% block title %}
  {% translate "Payment Pending" %}
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-lg-5 col-md-7 mx-auto">
      <div class="alert alert-warning mt-3" role="alert">
        <h4 class="alert-heading mb-3">
          <svg class="bi flex-shrink-0 me-2"
               width="32"
               height="32"
               fill="currentColor"
               aria-hidden="true"
               aria-label="Warning:"
               role="img">
            <use xlink:href="{% static 'assets/icons/icons.svg' %}#exclamation-triangle-fill" />
          </svg>
          {% translate "Payment Pending" %}
        </h4>
        <p>
          {% translate "We have not yet received a confirmation for your payment and it is showing pending status. Incase the payment status is resolved you will get your tickets via email." %}
        </p>
        <p>
          {% url 'pages:contact' as contact_url %}
          {% blocktranslate %}Please don't make another payment for this order.
          Incase of trouble you can
          <a href="{{ contact_url }}" class="alert-link text-decoration-underline"><strong>contact us here</strong></a>{% endblocktranslate %}
        </p>
        <div class="d-flex justify-content-between pt-3">
          <a href="{% url 'pages:home' %}" class="alert-link text-decoration-underline">{% translate "Go back home" %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
