{% extends "layouts/base-sidebar.html" %}

{% load static %}

{% block title %}
    Payment Unsuccessful
{% endblock title %}

{% block breadcrumb %}
    Payment / Unsuccessful
{% endblock breadcrumb %}

{% block page_title %}
    Payment Unsuccessful
{% endblock page_title %}

{% block content %}
    <section class="min-vh-75">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-7 mx-auto">
                    <div class="card z-index-0 mt-sm-12 mt-9 mb-4">
                        <div class="card-header text-center pt-4 pb-1">
                            <h4 class="font-weight-bolder mb-1">Payment Unsuccessful</h4>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <p class="mx-auto">
                                    We were unable to receive a confirmation for your payment.
                                    Incase of trouble you can
                                    <a href="{% url 'pages:contact' %}" class="text-info text-gradient font-weight-bold">contact us here</a>
                                </p>
                            </div>
                            <div class="text-center">
                                <a type="button" href="{% url 'pages:home' %}" class="btn bg-gradient-secondary my-4 me-3 mb-2">Go back home</a>
                                <a type="button" href="{% url 'pages:payment' %}" class="btn bg-gradient-primary my-4 mb-2">Try again</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
