{% extends "layouts/base-app.html" %}

{% load static %}

{% block title %}
  Payment Successful
{% endblock title %}

{% block breadcrumb %}
  Payment
{% endblock breadcrumb %}

{% block page_title %}
  Successful
{% endblock page_title %}

{% block content %}
  <div class="row px-2">
    <div class="col-xl-4 col-lg-6 col-md-7 col-sm-8 mx-auto">
      <div class="row">
        <div class="col">
          <div class="card shadow-xl bg-transparent">
            <div class="bg-gradient-primary border-radius-xl">
              <div class="card-body position-relative z-index-1 p-3">
                <i class="fas fa-bus text-white p-2"></i>
                <h5 class="text-white mt-4 mb-5 pb-2">Ticket Booked!</h5>
                <div class="d-flex">
                  <div class="d-flex">
                    <div class="me-4">
                      <p class="text-white text-sm opacity-8 mb-0">Andesmar</p>
                      <h6 class="text-white mb-0">BA - MZA</h6>
                    </div>
                    <div>
                      <p class="text-white text-sm opacity-8 mb-0">Date</p>
                      <h6 class="text-white mb-0">1/23</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <div class="row">
            <div class="col-md-6">
              <a href="{% if order_id %}{% url 'orders:ticket_pdf' order_id=order_id %}{% endif %}" download="tickets.pdf">
                <div class="card">
                  <div class="card-header mx-4 p-3 text-center">
                    <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                      <i class="fas fa-download opacity-10"></i>
                    </div>
                  </div>
                  <div class="card-body pt-0 p-3 text-center">
                    <h6 class="text-center mb-0">PDF</h6>
                    <span class="text-xs">Download</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6 mt-md-0 mt-4">
              <a href="https://calendar.google.com/calendar/r/eventedit?text=BusTravel&dates=20230129T230000Z/20230130T030000Z&details=For+details,+link+here:+https://kpiola.com.ar/&location=https://goo.gl/maps/iY2wPfJftuGqrqdi8"
                 target="_blank">
                <div class="card">
                  <div class="card-header mx-4 p-3 text-center">
                    <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                      <i class="fa fa-calendar opacity-10"></i>
                    </div>
                  </div>
                  <div class="card-body pt-0 p-3 text-center">
                    <h6 class="text-center mb-0">Calendar</h6>
                    <span class="text-xs">Add to calendar</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card mt-4">
            <div class="card-plain pb-0 p-3">
              <div class="card-body text-center">
                <a type="button" class="btn btn-outline-primary" href="{% url 'pages:home' %}">Book Return Ticket</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
