{% extends "layouts/base-app.html" %}

{% load static %}

{% block title %}
  Payment
{% endblock title %}

{% block breadcrumb %}
  Payment
{% endblock breadcrumb %}

{% block page_title %}
  Choose option
{% endblock page_title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-4">
      <a href="{{ preference.init_point }}">
        <div class="card cursor-pointer mb-3 mp-container">
          <div class="card-header mx-auto p-3">
            <div class="icon icon-shape icon-lg bg-gradient-primary text-center">
              <i class="bi bi-bank text-lg opacity-10"></i>
            </div>
          </div>
          <div class="card-body pt-0 p-3 text-center">
            <h6 class="text-center mb-0">Mercado Pago</h6>
            <span class="text-xs">ARS</span>
            <hr class="horizontal dark my-3" />
            <h5 class="mb-0">+${{ order.get_total_cost }}</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <form action="{% url "payments:checkout" %}" method="post" name="checkout-form">
        {% csrf_token %}
        <div class="card cursor-pointer mb-3" onClick="document.forms['checkout-form'].submit();">
          <div class="card-header mx-auto p-3">
            <div class="icon icon-shape icon-lg bg-gradient-primary text-center">
              <i class="bi bi-coin text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
          <div class="card-body pt-0 p-3 text-center">
            <h6 class="text-center mb-0">Non Argentine</h6>
            <span class="text-xs">USD</span>
            <hr class="horizontal dark my-3" />
            <h5 class="mb-0">${{ order.get_total_cost_usd }}</h5>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block js %}
  {% comment %} Mercado Pago {% endcomment %}
  {{ preference.id|json_script:"preference_id" }}
  {{ mp_public_key|json_script:"mp_public_key" }}
  <script type="text/javascript" src="https://sdk.mercadopago.com/js/v2" defer></script>
  <script type="text/javascript" src="{% static 'assets/js/payment/mp.js' %}" defer></script>
  {% comment %} Stripe {% endcomment %}
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
  <script src="https://js.stripe.com/v3/"></script>
{% endblock js %}
