<div class="d-flex justify-content-between mx-2 mx-md-0">
    <a class="btn btn-white"
       data-bs-toggle="collapse"
       href="#filters"
       role="button"
       aria-expanded="false"
       aria-controls="collapseExample">
        Filters
    </a>
    <div class="dropdown">
        <button class="btn btn-white dropdown-toggle"
                type="button"
                id="sortPriceButton"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            Price
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortPriceButton">
            <li>
                <form action="{% url 'trips:trip-list' %}" method="get">
                    <input type="hidden" name="order" value="-price" />
                    <button type="submit" class="dropdown-item">Low to High</button>
                </form>
            </li>
            <li>
                <form action="{% url 'trips:trip-list' %}" method="get">
                    <input type="hidden" name="order" value="price" />
                    <button type="submit" class="dropdown-item">High to Low</button>
                </form>
            </li>
        </ul>
    </div>
</div>
<div class="collapse mb-3 mx-2 mx-md-0" id="filters">
    <div class="card card-plain">
        <div class="d-flex flex-column flex-md-row align-items-stretch justify-content-md-between">
            <div class="dropdown">
                <a href="javascript:;" class="btn bg-gradient-primary dropdown-toggle" data-bs-toggle="dropdown" id="companies">Companies</a>
                <ul class="dropdown-menu p-4" aria-labelledby="companies">
                    {% for trip in trips|dictsort:'company' %}
                        {% ifchanged %}
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="{{ trip.company }}" checked />
                                    <label class="form-check-label" for="{{ trip.company }}">{{ trip.company }}</label>
                                </div>
                            </li>
                        {% endifchanged %}
                    {% endfor %}
                </ul>
            </div>
            <div class="dropdown">
                <a href="javascript:;" class="btn bg-gradient-primary dropdown-toggle" data-bs-toggle="dropdown" id="categories">
                    Categories
                </a>
                <ul class="dropdown-menu p-4" aria-labelledby="categories">
                    {% for trip in trips|dictsort:'seatType' %}
                        {% ifchanged %}
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="{{ trip.seatType }}" checked />
                                    <label class="form-check-label" for="{{ trip.seatType }}">{{ trip.seatType }}</label>
                                </div>
                            </li>
                        {% endifchanged %}
                    {% endfor %}
                </ul>
            </div>
            <div class="dropdown">
                <a href="javascript:;" class="btn bg-gradient-primary dropdown-toggle" data-bs-toggle="dropdown" id="departure">Times</a>
                <ul class="dropdown-menu dropdown-menu-lg-end p-4" aria-labelledby="departure">
                    <li>
                        <label for="departure" class="form-label">Departure</label>
                        <input type="range" class="form-range" id="departure" />
                    </li>
                    <li>
                        <label for="arrival" class="form-label">Arrival</label>
                        <input type="range" class="form-range" id="arrival" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
