{% load i18n %}

<footer class="footer">
  <div class="container-fluid py-3">
    <div class="row">
      <div class="col-md-6">
        <p class="nav-link text-center text-sm text-lg-start">
          {% translate "All rights reserved. Copyright ©" %}
          <script>
               document.write(new Date().getFullYear());
          </script>
          {% translate "Made with ❤️ in Argentina 🇦🇷" %}
        </p>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="{% url 'pages:about' %}" class="nav-link">{% translate "About" %}</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'pages:help' %}" class="nav-link">{% translate "Support" %}</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'pages:terms' %}" class="nav-link">{% translate "Terms" %}</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'pages:privacy' %}" class="nav-link">{% translate "Privacy" %}</a>
          </li>
          <li class="nav-item">
            <a href="/blog/" class="nav-link">{% translate "Blog" %}</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'pages:contact' %}" class="nav-link pe-0">{% translate "Contact" %}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
