{% load static %}

<header class="container position-sticky z-index-sticky top-0">
  <nav class="navbar navbar-expand-lg border-radius-2xl top-0 shadow my-3 py-2 mx-2 position-absolute start-0 end-0 bg-white">
    <div class="container-fluid pe-0">
      <a class="navbar-brand font-weight-bold d-flex align-items-center"
         href="{% url 'pages:home' %}"
         rel="tooltip"
         title="Ventanita"
         data-placement="bottom">
        <img src="{% static 'assets/img/logos/logo.svg' %}" alt="Home" width="25" height="20" class="img-fluid me-2" />
        Ventanita
      </a>
      <button class="navbar-toggler shadow-none"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#navigation"
              aria-controls="navigation"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start" id="navigation" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            <a class="navbar-brand font-weight-bold d-flex align-items-center"
               href="{% url 'pages:home' %}"
               rel="tooltip"
               title="Ventanita"
               data-placement="bottom">
              <img src="{% static 'assets/img/logos/logo.svg' %}" alt="Home" width="25" height="20" class="img-fluid me-2" />
              Ventanita
            </a>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link me-2" href="{% url 'pages:help' %}">
                <svg class="bi opacity-8 me-1" width="16" height="16" fill="currentColor" aria-hidden="true">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#question-circle-fill" />
                </svg>
                Help
              </a>
            </li>
            <li class="nav-item d-flex align-items-center mb-2 mb-lg-0">
              <a class="btn btn-round btn-sm mb-0 bg-gradient-primary me-2" href="{% url 'pages:contact' %}">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
