<section class="pt-3 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 z-index-2 border-radius-xl mt-n10 mx-auto py-3 blur shadow-xl">
        <form action="{% url 'trips:trip-list' %}" method="get" autocomplete="on">
          <div class="row gx-md-3 mb-3">
            <div class="col-8 col-sm-3 col-lg-2">
              <select class="form-select bg-transparent" name="trip_type" id="trip_type" aria-label="Trip type" required>
                <option value="round_trip" {% if not request.session.q.trip_type == "one_way" %}selected{% endif %}>Round trip</option>
                <option value="one_way" {% if request.session.q.trip_type == "one_way" %}selected{% endif %}>One way</option>
              </select>
            </div>
            <div class="col-4 col-sm-2 col-lg-1">
              <select class="form-select bg-transparent"
                      name="num_of_passengers"
                      id="num_of_passengers"
                      aria-label="Num of passengers"
                      required>
                {% for i in '12345'|make_list %}
                  <option value="{{ i }}" {% if request.session.q.num_of_passengers == i %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row gx-1 gx-md-3">
            <div class="col-12 col-md-3">
              <div class="form-group">
                <label for="origin" class="form-control-label">Where From?</label>
                <input class="form-control"
                       type="search"
                       dir="ltr"
                       name="origin"
                       autocorrect="off"
                       autocapitalize="off"
                       autocomplete="off"
                       spellcheck="false"
                       maxlength="2048"
                       id="origin"
                       value="{{ request.session.q.origin }}"
                       required />
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="form-group">
                <label for="destination" class="form-control-label">Where to?</label>
                <input class="form-control"
                       type="search"
                       name="destination"
                       dir="ltr"
                       autocorrect="off"
                       autocapitalize="off"
                       autocomplete="off"
                       spellcheck="false"
                       maxlength="2048"
                       id="destination"
                       value="{{ request.session.q.destination }}"
                       required />
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="form-group">
                <label for="departure" class="form-control-label">Departure</label>
                <input class="form-control form-control-lg departure-date bg-white"
                       type="text"
                       name="departure"
                       id="departure"
                       autocorrect="off"
                       autocapitalize="off"
                       autocomplete="off"
                       spellcheck="false"
                       maxlength="2048"
                       value="{{ request.session.q.departure }}"
                       required />
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="form-group">
                <label for="return" class="form-control-label">Return (Optional)</label>
                <input class="form-control form-control-lg return-date bg-white"
                       type="text"
                       name="return"
                       id="return"
                       autocorrect="off"
                       autocapitalize="off"
                       autocomplete="off"
                       spellcheck="false"
                       maxlength="2048"
                       value="{{ request.session.q.return }}" />
              </div>
            </div>
            <input class="form-control form-control-lg bg-white"
                   type="hidden"
                   name="company"
                   autocorrect="off"
                   autocapitalize="off"
                   autocomplete="off"
                   spellcheck="false"
                   maxlength="2048"
                   value="{{ company.slug }}" />
          </div>
          <div class="d-flex justify-content-center mb-n5">
            <button class="btn bg-gradient-primary btn-round" type="submit">
              <i class="bi bi-search me-3"></i>Search
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
