{% load static i18n %}

<div class="input-group mb-3">
  <button class="btn btn-outline-primary mb-0"
          type="button"
          id="select-seat"
          data-bs-toggle="modal"
          data-bs-target="#trip{{ trip.id }}">{% translate "Choose Seat" %}</button>
  <input type="text"
         class="form-control bg-white ps-3"
         name="seats{{ trip.id }}"
         id="seats{{ trip.id }}"
         value=""
         aria-label="Click the button to open seat chart"
         aria-describedby="select-seat"
         onkeypress="return false;"
         required />
</div>
<div class="modal fade"
     id="trip{{ trip.id }}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="seatSelectModal"
     aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="seatSelectModal">{{ trip.origin }} - {{ trip.destination }}</h5>
        <button type="button" class="btn-close me-md-2" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card card-plain">
          <div class="card-body pb-3" id="seat-container{{ trip.id }}"></div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between" id="modal-footer">
        <h6>{% translate "Please select " %}{{ item.quantity }}{% translate " seat(s)" %}</h6>
        <button type="button"
                class="btn bg-gradient-primary icon-link icon-link-hover align-middle"
                data-bs-toggle="modal"
                id="seat-submit{{ trip.id }}"
                disabled>
          {% translate "Confirm" %}
          <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
            <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-right" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
