{% comment %} 

These are sample toasts which need to be customized with a message.

The message can be passed in as a context to this template in include call
Veer you will have to initialize the toast and then show it. We have a js snippet
for it in the static folder. 

Happy toasting 🍾

{% endcomment %}
{% comment %} Outer Toast Container {% endcomment %}
<div class="toast-container">
  {% comment %} Position the toasts on screen {% endcomment %}
  <div class="position-fixed bottom-1 end-1 z-index-2">
    {% comment %} Put individual toasts {% endcomment %}
    <div class="toast fade p-2 bg-white hide" role="alert" aria-live="assertive" id="successToast" aria-atomic="true">
      <div class="toast-header border-0">
        <i class="bi bi-check-circle-fill text-success me-2"></i>
        <span class="me-auto font-weight-bold">Soft UI Dashboard</span>
        <small class="text-body">11 mins ago</small>
        <i class="bi bi-x-lg text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close" aria-hidden="true"></i>
      </div>
      <hr class="horizontal dark m-0" />
      <div class="toast-body">Hello, world! This is a notification message.</div>
    </div>
    <div class="toast fade p-2 mt-2 bg-gradient-info hide" role="alert" aria-live="assertive" id="infoToast" aria-atomic="true">
      <div class="toast-header bg-transparent border-0">
        <i class="bi bi-bell-fill text-white me-2"></i>
        <span class="me-auto text-white font-weight-bold">Soft UI Dashboard</span>
        <small class="text-white">11 mins ago</small>
        <i class="bi bi-x-lg text-md text-white ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close" aria-hidden="true"></i>
      </div>
      <hr class="horizontal light m-0" />
      <div class="toast-body text-white">Hello, world! This is a notification message.</div>
    </div>
    <div class="toast fade hide p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="warningToast" aria-atomic="true">
      <div class="toast-header border-0">
        <svg class="bi me-2 text-warning" width="16" height="16" fill="currentColor" aria-hidden="true">
          <use xlink:href="{% static 'assets/icons/icons.svg' %}#exclamation-triangle-fill" />
        </svg>
        <span class="me-auto font-weight-bold">Soft UI Dashboard</span>
        <small class="text-body">11 mins ago</small>
        <i class="bi bi-x-lg text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close" aria-hidden="true"></i>
      </div>
      <hr class="horizontal dark m-0" />
      <div class="toast-body">Hello, world! This is a notification message.</div>
    </div>
    <div class="toast fade p-2 mt-2 bg-white hide" role="alert" aria-live="assertive" id="dangerToast" aria-atomic="true">
      <div class="toast-header border-0">
        <i class="bi bi-megaphone-fill text-danger me-2"></i>
        <span class="me-auto text-gradient text-danger font-weight-bold">Soft UI Dashboard</span>
        <small class="text-body">11 mins ago</small>
        <i class="bi bi-x-lg text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close" aria-hidden="true"></i>
      </div>
      <hr class="horizontal dark m-0" />
      <div class="toast-body">Hello, world! This is a notification message.</div>
    </div>
  </div>
</div>
