{% comment %} 
These are sample toasts which need to be customized with a message.
The message can be passed in as a context to this template in include call
Veer you will have to initialize the toast and then show it. We have a js snippet
for it in the static folder. 
Happy toasting 🍾
{% endcomment %}

{% load static i18n %}

<div class="toast-container">
  <div class="position-fixed bottom-1 end-1 z-index-2">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <svg class="bi me-2" width="16" height="16" fill="currentColor" aria-hidden="true">
          <use xlink:href="{% static 'assets/icons/icons.svg' %}#bell" />
        </svg>
        <span class="me-auto font-weight-bold">Soft UI Dashboard</span>
        <small class="text-body">11 mins ago</small>
        <svg class="bi ms-2 cursor-pointer" width="16" height="16" data-bs-dismiss="toast" aria-hidden="true" aria-label="Close">
          <use xlink:href="{% static 'assets/icons/icons.svg' %}#x-lg" />
        </svg>
      </div>
      <hr class="horizontal dark m-0" />
      <div class="toast-body">Hello, world! This is a notification message.</div>
    </div>
  </div>
</div>
