{% extends "users/base.html" %}

{% load static %}

{% block title %}
  {{ user.get_full_name }} | Kpiola
{% endblock title %}

{% block breadcrumb %}
  Profile
{% endblock breadcrumb %}

{% block settingscontent %}
  <div class="card h-100">
    <div class="card-header pb-0 p-3">
      <h5>Profile Information</h5>
    </div>
    <div class="card-body p-3">
      <p class="text-sm">{{ request.user.bio | truncatewords:60 }}</p>
      <hr class="horizontal gray-light my-4" />
      <ul class="list-group">
        <li class="list-group-item border-0 ps-0 pt-0 text-sm">
          <strong class="text-dark">Full Name:</strong>
          {{ request.user.get_full_name }}
        </li>
        <li class="list-group-item border-0 ps-0 text-sm">
          <strong class="text-dark">Mobile:</strong> &nbsp; (44)
          123 1234 123
        </li>
        <li class="list-group-item border-0 ps-0 text-sm">
          <strong class="text-dark">Email:</strong> &nbsp;
          {{ request.user.email }}
        </li>
        <li class="list-group-item border-0 ps-0 text-sm">
          <strong class="text-dark">Location:</strong> &nbsp;
          {{ request.user.location }}
        </li>
        <li class="list-group-item border-0 ps-0 text-sm">
          <strong class="text-dark">Website:</strong> &nbsp;
          <a href="https://{{ request.user.personal_website }}" target="_blank">{{ request.user.personal_website }}</a>
        </li>
        <li class="list-group-item border-0 ps-0 pb-0">
          <strong class="text-dark text-sm">Social:</strong> &nbsp;
          <a href="javascript:;">Facebook</a>
          <a href="javascript:;">Twitter</a>
          <a href="javascript:;">Instagram</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock settingscontent %}
