{% extends "users/base.html" %}

{% load i18n %}

{% block title %}
    {{ user.get_full_name }} | {% trans "Edit Profile" %} | Falcon
{% endblock title %}

{% block settingscontent %}
    <div class="card">
        <div class="card-header">
            <h5>{% trans "My Account" %}</h5>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'users:settings' %}">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="mb-3">
                        <div class="text-danger">{{ field.errors }}</div>
                        {{ field }}
                        <div class="form-text ms-2">{{ field.help_text|safe }}</div>
                    </div>
                {% endfor %}
                <div class="text-end">
                    <button type="submit" name="action" class="btn bg-gradient-primary mt-4 mb-0">{% trans "Save" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock settingscontent %}
