<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style>
             /* Add custom classes and styles that you want inlined here */
        </style>
    </head>
    <body class="bg-red-100">
        <div class="container">
            <img class="my-6 w-16" src="https://falconhunt.xyz/static/assets/img/logo-ct-dark.png" />
            <span class="ms-1 font-weight-bold">Falcon</span>
            <div class="space-y-4 mb-6">
                <h1 class="text-4xl fw-800">Thanks for your order, {{ order.name }}</h1>
                <p>
                    Attached is the invoice for your upcoming trip. If you have already
                    made the payment you should be receiving the tickets soon, so you don't need to do anything.
                </p>
            </div>
            <div class="card rounded-3xl px-4 py-8 p-lg-10 mb-6">
                <h3 class="text-center">Invoice from Falcon</h3>
                <p class="text-center text-muted">No: {{ order.id }}</p>
                <table class="p-2 w-full mt-5">
                    <thead>
                        <tr>
                            <th>Trip</th>
                            <th class="text-right">Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order.items.all %}
                            <tr>
                                <td>{{ item.trip.name }}</td>
                                <td class="text-right">${{ item.get_cost|floatformat:"-3g" }}</td>
                            </tr>
                        {% endfor %}
                        {% if order.coupon %}
                            <tr>
                                <td>Coupon Discount</td>
                                <td class="text-right">- ${{ order.get_discount|floatformat:"-3g" }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="fw-700 border-top">Total Amount</td>
                            <td class="fw-700 text-right border-top">${{ order.get_total_cost|floatformat:"-3g" }}</td>
                        </tr>
                    </tbody>
                </table>
                <hr class="my-6">
                <p>Have questions?</p>
                <p>
                    Feel free to <a href="mailto:support@falconhunt.xyz">contact us</a>.
                    You can also check out our <a href="https://falconhunt.xyz/faq/">FAQ</a> or our <a href="https://falconhunt.xyz/support/">support</a> page for more information
                </p>
            </div>
        </div>
    </body>
</html>
