{% extends "layouts/base-account.html" %}

{% load i18n %}

{% block title %}
  {% translate "Contact" %}
{% endblock title %}

{% block content %}
  <div class="card mt-7">
    <div class="card-header pb-0">
      <h1 class="fs-5 text-center">{% translate "Contact Us" %}</h1>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
          <div class="mb-3">
            <span class="text-danger">{{ field.errors }}</span>
            <label class="form-label text-sm visually-hidden" for="{{ field.auto_id }}{% if field.label == 'Captcha' %}_1{% endif %}">
              {{ field.label }}
            </label>
            {{ field }}
            <div class="form-text ms-2" id="{{ field.auto_id }}_helptext">
              <small>{{ field.help_text|safe }}</small>
            </div>
          </div>
        {% endfor %}
        <button type="submit" class="btn bg-gradient-primary w-100">{% translate "Send" %}</button>
      </form>
      <p class="text-center">
        <a href="{% url 'pages:home' %}" class="text-primary text-gradient">{% translate "Go back Home" %}</a>
      </p>
    </div>
  </div>
{% endblock content %}
