{% extends "layouts/base-sidebar.html" %}

{% load static %}

{% block title %}
    Falcon
{% endblock title %}

{% block content %}
    <div class="page-header min-height-300 border-radius-xl mt-4"
         style="background-image: url({% static 'assets/img/curved-images/curved0.jpg' %});
                background-position-y: 50%">
        <span class="mask bg-gradient-primary opacity-6"></span>
    </div>
    <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row">
            <div class="col-4 col-sm-2 col-lg-1">
                <div class="form-group">
                    <select class="form-control form-control-sm" id="trip-type">
                        <option>
                            Round trip
                        </option>
                        <option>
                            One way
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4 col-sm-2 col-lg-1">
                <div class="form-group">
                    <select class="form-control form-control-sm" id="numOfPassengers">
                        <option>
                            1
                        </option>
                        <option>
                            2
                        </option>
                        <option>
                            3
                        </option>
                        <option>
                            4
                        </option>
                        <option>
                            5
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4 col-sm-2 col-lg-1">
                <div class="form-group">
                    <select class="form-control form-control-sm" id="seatType">
                        <option>
                            Cama
                        </option>
                        <option>
                            Semicama
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group"></div>
        <div class="row gx-4">
            <div class="col-6 col-md-3">
                <div class="form-group">
                    <label for="departure-city" class="form-control-label">Where From?</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">☉</span>
                        <input class="form-control form-control-lg" type="text" placeholder="From?" id="departure-city">
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <label for="departure-city" class="form-control-label">Where to?</label>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">⚲</span>
                        <input class="form-control form-control-lg" type="text" placeholder="Where to?" id="arrival-city">
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="form-group">
                    <label for="departure-date-input" class="form-control-label">Departure</label>
                    <input class="form-control form-control-lg departure-date" type="text" id="departure-date-input">
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="form-group">
                    <label for="departure-date-input" class="form-control-label">Return</label>
                    <input class="form-control form-control-lg return-date" type="text" id="return-date-input">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
