{% extends "layouts/base.html" %}

{% load static i18n %}

{% block basecontent %}

  {% include "includes/navigation-floating.html" %}

  <div class="page-header min-vh-75 pt-7">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 my-auto">
          <h1 class="text-gradient text-primary mb-0">{% translate "Tu partner" %}</h1>
          <h1 class="mb-4">{% translate "tecnológico" %}</h1>
          <p class="lead">
            {% translate "Escala tu negocio gestionando tus rutas, horarios y precios en una plataforma sencilla, aceptando pagos en línea, integrando reservas en tu propio sitio y analizando datos para construir un negocio más rentable." %}
          </p>
          <div class="d-flex">
            <a href="{% url 'pages:contact' %}" class="btn btn-round bg-gradient-primary icon-link icon-link-hover mt-4">{% translate "Contacto Commercial " %}
              <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
                <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-right" />
              </svg>
            </a>
          </div>
        </div>
        <div class="col-lg-8 ps-5 d-none d-lg-block">
          <div class="row">
            <div class="col-lg-3 col-6">
              <img class="w-100 border-radius-lg shadow mt-0 mt-lg-7"
                   src="{% static 'assets/img/stock/dashboard-chart.avif' %}"
                   alt="Dashboard Chart" />
            </div>
            <div class="col-lg-3 col-6">
              <img class="w-100 border-radius-lg shadow"
                   src="{% static 'assets/img/stock/stock-ticker.avif' %}"
                   alt="stock ticker" />
              <img class="w-100 border-radius-lg shadow mt-4"
                   src="{% static 'assets/img/stock/security.avif' %}"
                   alt="Security" />
            </div>
            <div class="col-lg-3 col-6">
              <img class="w-100 border-radius-lg shadow mt-0 mt-lg-5"
                   src="{% static 'assets/img/stock/south-america-globe.avif' %}"
                   alt="South America Globe" />
              <img class="w-100 border-radius-lg shadow mt-4"
                   src="{% static 'assets/img/stock/table-planner.avif' %}"
                   alt="Table Planner" />
            </div>
            <div class="col-lg-3 col-6">
              <img class="w-100 border-radius-lg shadow mt-3"
                   src="{% static 'assets/img/stock/weekly-planner.avif' %}"
                   alt="Weekly Planner" />
              <img class="w-100 border-radius-lg shadow mt-4"
                   src="{% static 'assets/img/stock/goals.avif' %}"
                   alt="Goals" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="pt-3 pb-4" id="count-stats">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 z-index-2 border-radius-xl mx-auto py-3 blur shadow-blur">
          <div class="row">
            <div class="col-md-4 position-relative">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary">
                  <span id="state1" countto="300">0</span>+
                </h1>
                <h5 class="mt-3">Coded Elements</h5>
                <p class="text-sm">From buttons, to inputs, navbars, alerts or cards, you are covered</p>
              </div>
              <hr class="vertical dark" />
            </div>
            <div class="col-md-4 position-relative">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary">
                  <span id="state2" countto="100">0</span>+
                </h1>
                <h5 class="mt-3">Design Blocks</h5>
                <p class="text-sm">Mix the sections, change the colors and unleash your creativity</p>
              </div>
              <hr class="vertical dark" />
            </div>
            <div class="col-md-4">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary" id="state3" countto="39">0</h1>
                <h5 class="mt-3">Pages</h5>
                <p class="text-sm">Save 3-4 weeks of work when you use our pre-made pages for your website</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-5 py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 ms-auto">
          <div class="row justify-content-start">
            <div class="col-md-6">
              <div class="info">
                <div class="icon">
                  <svg class="bi text-primary" width="32" height="32" fill="currentColor" aria-hidden="true">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#calendar4-week" />
                  </svg>
                </div>
                <h5 class="font-weight-bolder mt-3">Data Analytics + IA</h5>
                <p class="pe-5">
                  ¡Lo que no se mide no se puede mejorar! Usa el Dashboard de ventanita con tus datos en realtime para tomar decisiones estrategicas y optimiza tus rutas.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info">
                <div class="icon">
                  <svg class="bi text-primary" width="32" height="32" fill="currentColor" aria-hidden="true">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#bank" />
                  </svg>
                </div>
                <h5 class="font-weight-bolder mt-3">Notificaciones en RealTime</h5>
                <p class="pe-3">¿Cambio de horarios o demoras? Notifica tus pasajeros en real time con email, whatsapp o sms</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-5">
            <div class="col-md-6 mt-3">
              <div class="info">
                <div class="icon">
                  <svg class="bi text-primary" width="32" height="32" fill="currentColor" aria-hidden="true">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#stopwatch" />
                  </svg>
                </div>
                <h5 class="font-weight-bolder mt-3">Motor de reservas</h5>
                <p class="pe-5">
                  Diseñado con la última tecnología Ventanita lleva el poder de un sistema de reservas súper rápido a su propio sitio web
                </p>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="info">
                <div class="icon">
                  <svg class="bi text-primary" width="32" height="32" fill="currentColor" aria-hidden="true">
                    <use xlink:href="{% static 'assets/icons/icons.svg' %}#building-fill-up" />
                  </svg>
                </div>
                <h5 class="font-weight-bolder mt-3">Agencias y Revendedores</h5>
                <p class="pe-3">Agregá tus agencias y revendedores con facilidad para aumentar su visibilidad y atraer más ventas</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
          <div class="card">
            <div class="card-body text-center">
              <div class="icon icon-lg up my-3">
                <svg class="bi text-primary" width="32" height="32" fill="currentColor" aria-hidden="true">
                  <use xlink:href="{% static 'assets/icons/icons.svg' %}#calendar4-week" />
                </svg>
              </div>
              <h3 class="up mb-0">
                Quiero aumentar mis
                <br />
                rendimientos
              </h3>
              <a href="{% url 'pages:contact' %}" class="btn btn-outline-primary btn-round mt-3">Reservar Demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="row justify-content-center text-center my-sm-5">
          <div class="col-lg-6">
            <h2 class="text-dark mb-0">Canal de soporte solido</h2>
            <h2 class="text-primary text-gradient">via chat, email o phone</h2>
            <p class="lead">
              Un sistema de soporte rápido y receptivo (técnico, operativo o relacionado con el cliente) es fundamental para el éxito a largo plazo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container mt-sm-5">
    <div class="page-header min-vh-50 my-sm-3 mb-3 border-radius-xl bg-gradient-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 ms-lg-5">
            <h4 class="text-white mb-0">Built by developers</h4>
            <h1 class="text-white">Integraciones</h1>
            <p class="lead text-white opacity-8">Descarga tus datos para importar en tu ERP, CRM u otra herramientas favoritas</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="info-horizontal bg-gradient-primary border-radius-xl p-5">
          <div class="icon">
            <svg class="bi text-white" width="32" height="32" fill="currentColor" aria-hidden="true">
              <use xlink:href="{% static 'assets/icons/icons.svg' %}#bus-front" />
            </svg>
          </div>
          <div class="description ps-5">
            <h5 class="text-white">Booking Widget</h5>
            <p class="text-white">
              Agrega un widget de reservas en tu propio sitio web para que los pasajeros compren directamente
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 px-lg-1 mt-lg-0 mt-4">
        <div class="info-horizontal bg-gray-100 border-radius-xl p-5">
          <div class="icon">
            <svg class="bi text-primary" width="32" height="32" fill="currentColor" aria-hidden="true">
              <use xlink:href="{% static 'assets/icons/icons.svg' %}#grid-fill" />
            </svg>
          </div>
          <div class="description ps-5">
            <h5>Responsive Design</h5>
            <p>Plataforma optimizado para aceso movil y desktop y aumentar ventas con procesamiento rapido</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-lg-0 mt-4">
        <div class="info-horizontal bg-gray-100 border-radius-xl p-5">
          <div class="icon">
            <svg class="bi text-primary" width="32" height="32" fill="currentColor" aria-hidden="true">
              <use xlink:href="{% static 'assets/icons/icons.svg' %}#calendar4-week" />
            </svg>
          </div>
          <div class="description ps-5">
            <h5>Seat Maps</h5>
            <p>Configura los asientos de tus unidades y controla las reservas en tiempo real.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="container py-sm-7">
    <div class="bg-gradient-primary position-relative border-radius-xl">
      <div class="container pb-lg-8 pb-7 pt-5 postion-relative z-index-2 position-relative">
        <div class="row">
          <div class="col-md-7 mx-auto text-center">
            <span class="badge bg-gradient-dark mb-2">Features</span>
            <h3 class="text-white">¿Listo para actualizar el tech de tu empresa?</h3>
            <p class="text-white">Conoce todos los componentes de Ventanita que te ayudan maximisar tu potencial</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-lg-n8 mt-n6">
      <div class="container">
        <div class="row mt-5">
          <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
            <div class="card shadow-none border h-100">
              <div class="card-header text-sm-start text-center pt-4 pb-3 px-4">
                <h5 class="mb-1">Pagos</h5>
                <p class="mb-3 text-sm">Permiti a tus usuarios pagar con su billeteras favoritas</p>
              </div>
              <hr class="horizontal dark my-0" />
              <div class="card-body">
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm">Integracion con Mercado Pago</span>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm">Cobrar por Tarjetas de credito / debito</span>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm">Cobrar por QR</span>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm">Integracion con MODO</span>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm">Processamiento seguro con SSL</span>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm">Posibilidad de comprar con Efectivo</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
            <div class="card shadow-none border h-100">
              <div class="card-header text-sm-start text-center pt-4 pb-3 px-4">
                <h5 class="mb-1">Multi Idioma y Usuario</h5>
                <p class="mb-3 text-sm">Provee acceso a agencias y revendedores</p>
              </div>
              <hr class="horizontal dark my-0" />
              <div class="card-body">
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm">Dashboard customizado segun el role</span>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm">Multi idioma para clientes internacionales</span>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm">Soporte dedicado para su agencias</span>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm">Team Size - hasta 5 personas</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
            <div class="card shadow-none border bg-gradient-dark h-100 overflow-hidden">
              <img src="{% static 'assets/img/shapes/pattern-lines.svg' %}" alt="pattern-lines" class="position-absolute" />
              <div class="card-header bg-transparent text-sm-start text-center pt-4 pb-3 px-4 z-index-2">
                <h5 class="mb-1 text-white">Seguridad y Backups</h5>
                <p class="mb-3 text-sm text-white">Sistema seguro y reesforzado contra cyber-attacks</p>
              </div>
              <hr class="horizontal light my-0" />
              <div class="card-body z-index-2">
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm text-white">Backup diario de datos criticos</span>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm text-white">Control de fraude en aceso y pagos</span>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm text-white">Aceso a datos historicos 24x7</span>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm text-white">Aceso a base de clientes</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
            <div class="card shadow-none border h-100">
              <div class="card-header text-sm-start text-center pt-4 pb-3 px-4">
                <h5 class="mb-1">Administrativo</h5>
                <p class="mb-3 text-sm">Accedo a tus cobros en realtime segun tu comodidad</p>
              </div>
              <hr class="horizontal dark my-0" />
              <div class="card-body">
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm">Resumen de ventas brutos y pasajes diariamente</span>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm">Analisar rutas populares y debiles</span>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm">Liquidacion de saldos segun acuerdo</span>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm">Rendimiento de agencias</span>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="ps-3">
                    <span class="text-sm">Live location de micros por GPS</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-12 my-auto">
          <h3 class="text-gradient text-primary mb-0">{% translate "Solicitar" %}</h3>
          <h3>{% translate "Free Demo" %}</h3>
          <p class="pe-md-5 mb-4">
            {% translate "¿Quieres probar y experimentar los beneficios de Ventanita para ver si se adapta a tus necesidades? ¡Cuenta con un flujo de principio a fin de cómo puedes comercializar tus rutas, horarios y precios, todo en tiempo real!" %}
          </p>
          <a href="{% url 'pages:contact' %}" class="text-dark mb-5 mb-sm-0 icon-link icon-link-hover">{% translate "Reservar mi demo" %}
            <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
              <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-right" />
            </svg>
          </a>
        </div>
        <div class="col-md-5 col-12 my-auto">
          <img class="img-fluid w-100 border-radius-lg shadow-lg"
               src="{% static 'assets/img/presentation/meeting.jpg' %}"
               alt="Ventanita Demo Meeting" />
        </div>
      </div>
    </div>
  </section>
  <section class="container">

    {% include "includes/footer-grand.html" %}

  </section>
{% endblock basecontent %}

{% block js %}
  <script src={% static 'assets/js/plugins/countup.min.js' %}></script>
  <script type="text/javascript">
       if (document.getElementById('state1')) {
            const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
            if (!countUp.error) {
                 countUp.start();
            } else {
                 console.error(countUp.error);
            }
       }
       if (document.getElementById('state2')) {
            const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
            if (!countUp1.error) {
                 countUp1.start();
            } else {
                 console.error(countUp1.error);
            }
       }
       if (document.getElementById('state3')) {
            const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
            if (!countUp2.error) {
                 countUp2.start();
            } else {
                 console.error(countUp2.error);
            };
       }
  </script>
{% endblock js %}
