{% extends "layouts/base-sidebar.html" %}

{% load static %}

{% block title %}
    Order
{% endblock title %}

{% block breadcrumb %}
    Order
{% endblock breadcrumb %}

{% block content %}
    <div class="card mt-4">
        <form action="{% url 'pages:payment' %}">
            <div class="card-header">
                <h5>Passenger Details</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label for="documentType">Document</label>
                        <select class="form-select form-select-lg" id="documentType">
                            <option>
                                DNI
                            </option>
                            <option>
                                PASSPORT
                            </option>
                            <option>
                                CEDULA
                            </option>
                            <option>
                                LE
                            </option>
                            <option>
                                LC
                            </option>
                            <option>
                                CUIT
                            </option>
                            <option>
                                NIE
                            </option>
                            <option>
                                RG
                            </option>
                            <option>
                                RNE
                            </option>
                            <option>
                                CPF
                            </option>
                            <option>
                                RUT
                            </option>
                            <option>
                                CURP
                            </option>
                            <option>
                                CNPJ
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="documentNumber" class="form-control-label">Number</label>
                            <div class="input-group input-group-lg">
                                <span class="input-group-text">🔍</span>
                                <input class="form-control"
                                       type="text"
                                       id="documentNumber"
                                       aria-label="document-number"
                                       aria-describedby="document-number"
                                       required="required">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="nationalitySelect" class="form-label">Nationality</label>
                        <select class="form-select form-select-lg" id="nationalitySelect">
                            <option>
                                Argentina
                            </option>
                            <option>
                                Chile
                            </option>
                            <option>
                                Brasil
                            </option>
                            <option>
                                Paraguay
                            </option>
                            <option>
                                Peru
                            </option>
                            <option>
                                Other
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">First Name</label>
                        <div class="input-group input-group-lg">
                            <input id="firstName"
                                   name="firstName"
                                   class="form-control"
                                   type="text"
                                   placeholder="Alec"
                                   required="required"
                                   onfocus="focused(this)"
                                   onfocusout="defocused(this)">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Last Name</label>
                        <div class="input-group input-group-lg">
                            <input id="lastName"
                                   name="lastName"
                                   class="form-control"
                                   type="text"
                                   placeholder="Thompson"
                                   required="required"
                                   onfocus="focused(this)"
                                   onfocusout="defocused(this)">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Email</label>
                        <div class="input-group input-group-lg">
                            <input id="email"
                                   name="email"
                                   class="form-control"
                                   type="email"
                                   placeholder="example@email.com"
                                   required="required"
                                   onfocus="focused(this)"
                                   onfocusout="defocused(this)">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-2">
                        <label for="gender" class="form-label">Gender</label>
                        <select class="form-select form-select-lg" id="gender" required>
                            <option value="">
                                None
                            </option>
                            <option value="female">
                                Female
                            </option>
                            <option value="male">
                                Male
                            </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="birthDay">Day</label>
                        <select class="form-select form-select-lg" id="birthDay" required>
                            {% with ""|center:31 as range %}
                                {% for _ in range %}
                                    <option value="">
                                        {{ forloop.counter }}
                                    </option>
                                {% endfor %}
                            {% endwith %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="birthMonth">Month</label>
                        <select class="form-select form-select-lg" id="birthMonth">
                            {% with "Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec" as list %}
                                {% for i in list.split %}
                                    <option value="{{ i }}">
                                        {{ i }}
                                    </option>
                                {% endfor %}
                            {% endwith %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="birthYear" class="form-control-label">Year</label>
                            <input class="form-control form-control-lg" type="number" value="1980" id="birthYear" min="1922" max="2022">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="phone" class="form-control-label">Phone</label>
                            <input class="form-control form-control-lg" type="tel" placeholder="54-(11)-5025-4191" id="phone" required>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <button class="btn btn-primary btn-lg" type="submit">Proceed to Payment</button>
            </div>
        </form>
    </div>
{% endblock content %}
