{% extends "layouts/base-sidebar.html" %}

{% load static %}

{% block title %}
    Order
{% endblock title %}

{% block breadcrumb %}
    Order
{% endblock breadcrumb %}

{% block content %}
    <div class="card mt-4">
        <div class="card-header">
            <h5>Passenger Details</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <label class="form-label">First Name</label>
                    <div class="input-group">
                        <input id="firstName"
                               name="firstName"
                               class="form-control"
                               type="text"
                               placeholder="Alec"
                               required="required"
                               onfocus="focused(this)"
                               onfocusout="defocused(this)">
                    </div>
                </div>
                <div class="col-6">
                    <label class="form-label">Last Name</label>
                    <div class="input-group">
                        <input id="lastName"
                               name="lastName"
                               class="form-control"
                               type="text"
                               placeholder="Thompson"
                               required="required"
                               onfocus="focused(this)"
                               onfocusout="defocused(this)">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-6">
                    <label for="exampleFormControlSelect1">Gender</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>
                            Male
                        </option>
                        <option>
                            Female
                        </option>
                    </select>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-5 col-5">
                            <div class="form-group">
                                <label for="example-date-input" class="form-control-label">Birth Date</label>
                                <input class="form-control" type="date" value="2018-11-23" id="example-date-input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="form-label mt-4">Email</label>
                    <div class="input-group">
                        <input id="email"
                               name="email"
                               class="form-control"
                               type="email"
                               placeholder="example@email.com"
                               onfocus="focused(this)"
                               onfocusout="defocused(this)">
                    </div>
                </div>
                <div class="col-6">
                    <label class="form-label mt-4">Confirmation Email</label>
                    <div class="input-group">
                        <input id="confirmation"
                               name="confirmation"
                               class="form-control"
                               type="email"
                               placeholder="example@email.com"
                               onfocus="focused(this)"
                               onfocusout="defocused(this)">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="form-label mt-4">Your location</label>
                    <div class="input-group">
                        <input id="location"
                               name="location"
                               class="form-control"
                               type="text"
                               placeholder="Sydney, A"
                               onfocus="focused(this)"
                               onfocusout="defocused(this)">
                    </div>
                </div>
                <div class="col-6">
                    <label class="form-label mt-4">Phone Number</label>
                    <div class="input-group">
                        <input id="phone"
                               name="phone"
                               class="form-control"
                               type="number"
                               placeholder="+40 735 631 620"
                               onfocus="focused(this)"
                               onfocusout="defocused(this)">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
