{% extends "layouts/base-sidebar.html" %}

{% load static %}

{% block title %}
    Payment Success
{% endblock title %}

{% block breadcrumb %}
    Payment / Success
{% endblock breadcrumb %}

{% block page_title %}
    Payment Success
{% endblock page_title %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card mb-4">
                <div class="card-header p-3 pb-0">Payment Successful</div>
                <div class="card-body">Your trip from BA - MZA has been booked</div>
            </div>
        </div>
    </div>
{% endblock content %}
