{% extends "layouts/base-pages.html" %}

{% load static i18n %}

{% block title %}
  {% translate "Política de Privacidad" %}
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-9 mx-auto">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h1 class="display-6">{% translate "Política de Privacidad" %}</h1>
          <button class="btn bg-gradient-primary icon-link icon-link-hover" onclick="window.print()">
            <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
              <use xlink:href="{% static 'assets/icons/icons.svg' %}#filetype-pdf" />
            </svg>
            {% translate "Print" %}
          </button>
        </div>
        <div class="card-body">
          <h5>Información General</h5>
          <p>
            La presente <strong>Política de Privacidad</strong> tiene como objetivo informarle, en calidad de visitante y/o usuario de <a href="https://ventanita.com.ar">ventanita.com.ar</a> (en adelante, "Ventanita" o el "Sitio"), propiedad de
            <strong>Ventanita S.A.S.</strong>, sobre la manera en que recopilamos, procesamos y protegemos su información
            personal, así como las opciones que tiene respecto al uso de sus datos. Este documento forma parte integral de
            las Condiciones Generales de Compra de Pasajes de Ventanita. Al aceptar dichas condiciones, el visitante y/o
            usuario acepta la <strong>Política de Privacidad</strong> descrita en este documento.
          </p>
          <p>
            Nos comprometemos a garantizar que cualquier información proporcionada por usted, según lo solicitado por
            nuestro Sitio, será mantenida de forma confidencial y segura. Le informamos que podremos actualizar
            periódicamente esta política para reflejar cambios en el Sitio, incorporar nuevos procesos o tecnologías que
            puedan afectar el tratamiento de sus datos, y/o para informar sobre nuestras prácticas respecto al uso de la
            información recopilada.
          </p>
          <h5>Aplicación de la Política de Privacidad</h5>
          <p>
            La <strong>Política de Privacidad</strong> que aquí se detalla es aplicable únicamente a <strong>Ventanita</strong> y no a sitios web a los que
            usted pueda acceder mediante enlaces u otros vínculos presentes en <a href="https://ventanita.com.ar">ventanita.com.ar</a> En caso de acceder a un sitio de terceros a través de un enlace publicado en nuestro Sitio, le recomendamos revisar detenidamente las políticas de privacidad correspondientes antes de realizar cualquier transacción o proporcionar sus datos personales.
          </p>
          <h5>Información Personal. Uso de los datos</h5>
          <p>
            Su <strong>información personal</strong> es recopilada y almacenada cuando usted decide proporcionárnosla de
            manera voluntaria, o cuando la obtenemos de fuentes de acceso público y no restringido.
            <strong>Ventanita</strong> no comercializa ni alquila la <strong>información personal</strong> de sus usuarios a terceros. Los datos personales que recopilamos son de carácter privado y no están disponibles al público en general.
          </p>
          <p>
            <strong>Ventanita</strong> utilizará su información personal exclusivamente para fines internos relacionados con el uso del Sitio, tales como el envío de comunicaciones (por correo electrónico o SMS) sobre noticias, ofertas, promociones o paquetes disponibles, así como el envío de boletines informativos o para mantenerlo informado sobre los productos y servicios que ofrecemos. En ningún caso se revelará esta información a terceros, salvo cuando la transmisión de dichos datos sea necesaria para la prestación de nuestros servicios, como se detalla más abajo.
          </p>
          <p>
            El Sitio recopila información relacionada con sus datos de contacto como usuario para la contratación de nuestros servicios, así como también información sobre la identidad de los pasajeros al momento de seleccionar los asientos en las empresas de transporte, con el fin de emitir el boleto correspondiente. En este sentido, el Sitio verifica la veracidad y coherencia de los datos proporcionados, tales como nombre completo, número de DNI y fecha de nacimiento de cada pasajero, mediante un sistema provisto por Equifax Veraz S.A.. La razón por la cual solicitamos estos datos es para habilitar el acceso a ciertas funcionalidades y servicios del Sitio, emitir y enviar los boletos y la información relacionada con las transacciones, responder a sus consultas y/o notificarle sobre cambios en el Sitio.
          </p>
          <p>
            Adicionalmente, podríamos utilizar los datos recopilados para llevar a cabo estudios de mercado relacionados con el comportamiento y los intereses de nuestros usuarios, tales como las páginas más visitadas, los boletos más solicitados, las búsquedas realizadas y/o la demografía de nuestros consumidores. El objetivo de estos estudios es mejorar y personalizar nuestros servicios, por ejemplo, mostrándole publicidad o banners relacionados con sus intereses.
          </p>
          <p>
            En algunos casos, es posible que recurramos a empresas externas para realizar estudios de mercado. Estas empresas generalmente cuentan con políticas de confidencialidad similares a las nuestras. Sin embargo, en ciertas situaciones, estos proveedores de servicios podrían recopilar información directamente de los usuarios (por ejemplo, si les solicitamos que realicen encuestas o investigaciones). En tales casos, usted será informado sobre la participación de estos proveedores y será libre de decidir la cantidad de información que desea compartir, así como el uso que estos proveedores puedan hacer de la misma.
          </p>
          <p>
            En caso de que decida proporcionar información adicional directamente a dichos proveedores, esta será
            tratada conforme a sus propias políticas de privacidad. Además, al proporcionar sus datos de forma
            voluntaria, usted otorga su consentimiento expreso para:
          </p>
          <ul>
            <li>
              Entregar sus datos directamente al sitio de plataformas de pago como MercadoPago
              (www.mercadopago.com.ar) u otros sistemas de pago con los que Ventanita decida operar, con el fin de facilitar y procesar el pago de los servicios contratados.
            </li>
            <li>
              Que ciertos datos puedan ser compartidos con los proveedores de productos y/o servicios con los que
              usted pueda contratar a través de nuestro Sitio, con el objetivo de acceder a descuentos o promociones.
              En este sentido, usted reconoce expresamente que <strong>Ventanita</strong> no se responsabiliza por el uso indebido de sus datos personales por parte de estos proveedores o sitios de terceros.
            </li>
          </ul>
          <h5>Datos de Tarjeta</h5>
          <p>
            En lo que respecta a los datos de tarjeta de crédito y, en general, a los datos comerciales o financieros
            que usted debe proporcionar directamente a la plataforma de pagos <strong>MercadoPago</strong> y/o a otras
            plataformas de pago que <strong>Ventanita</strong> determine, con el fin de completar una transacción de
            compra de pasajes, le informamos que <strong>Ventanita</strong> no interviene en absoluto en el proceso de
            recopilación de dichos datos ni en el proceso de pago. Tampoco tiene acceso a la información de su tarjeta de
            crédito ni a ningún otro dato de carácter comercial o financiero. Para realizar el pago,
          </strong>Ventanita</strong> redirige el proceso por completo a la plataforma segura de pagos de MercadoPago y/o a otras plataformas de pago que se determinen en el futuro, las cuales cuentan con características de seguridad similares. Estas plataformas son las responsables de la privacidad y seguridad de los datos ingresados para completar la transacción.
        </p>
        <p>
          En este sentido, Ventanita no almacena los datos de tarjetas de crédito y/o de otros medios de pago
          utilizados en las transacciones realizadas a través de MercadoPago u otras plataformas de pago.
        </p>
        <p>
          En ningún momento, la información de su tarjeta de crédito y/o de otros medios de pago será almacenada en
          nuestros servidores. Los datos proporcionados por usted a la plataforma de pagos a través de la web se
          transmiten de forma encriptada y nunca son almacenados por <strong>Ventanita</strong>. Por lo tanto,
          <strong>Ventanita</strong> no será responsable por cualquier actividad o hecho que ocurra una vez que los usuarios sean derivados a la plataforma de pagos u otros sitios web donde se efectúe la transacción.
        </p>
        <p>
          Cualquier actividad que se realice entre los usuarios y las plataformas de pago, o con los sitios a los
          que estas plataformas deriven a los usuarios, queda fuera del control de <strong>Ventanita</strong>, por lo que no asumimos responsabilidad alguna por los perjuicios que pudieran derivarse de las relaciones entre las plataformas de pago, el titular de la tarjeta de crédito, la tarjeta de crédito y/o el banco correspondiente.
        </p>
        <h5>Política de Seguridad</h5>
        <p>
          La protección de su privacidad es una prioridad para nosotros, por lo que hemos implementado todas las medidas tecnológicas y económicas a nuestro alcance para asegurar tanto su privacidad como la nuestra. Dentro de las limitaciones de los recursos tecnológicos disponibles, nos comprometemos a garantizar que la información que se transmite desde su computadora y/o cualquier otro dispositivo hacia nuestros servidores, y viceversa, sea enviada de la manera más segura posible, dentro de nuestras capacidades de monitoreo.
        </p>
        <p>
          Es importante recordar que el cuidado de su privacidad y seguridad en línea también depende de usted. Esto incluye cómo gestiona su propia información, así como el uso que haga de los dispositivos, programas y redes al realizar transacciones en línea. En este sentido, le recomendamos encarecidamente utilizar dispositivos y conexiones a Internet seguras al ingresar sus datos de tarjeta de crédito en las plataformas de pago, para así proteger su seguridad.
        </p>
        <h5>Excepciones a la reserva de la Información Personal y otras informaciones</h5>
        <p>
          En cumplimiento de nuestras obligaciones legales, su información personal y/o cualquier otro dato
          específico sobre usted al que podamos acceder, ya sea de forma intencional o incidental, podrá ser revelada
          a terceros con el fin de cumplir con procedimientos legales, como una orden de allanamiento, una citación
          judicial, una orden judicial, o a solicitud de autoridades administrativas que sean válidas conforme a las
          leyes aplicables.j
        </p>
        <p>
          Además, para la protección de todos los usuarios del Sitio, y en su propio beneficio, su información personal podrá ser revelada en aquellos casos en los que se identifique un intento de vulneración de la seguridad del Sitio, o bien en situaciones que impliquen una amenaza física o riesgo para usted, para nosotros o para terceros.
        </p>
        <p>
          Asimismo, con el objetivo de facilitar la resolución de disputas que puedan surgir, usted consiente
          expresamente que ciertos datos sean compartidos con las entidades que intervengan en dicho proceso, tales
          como:
        </p>
        <ul>
          <li>Compañías de Seguros</li>
          <li>Centros de Resolución de Disputas</li>
          <li>Organismos de Defensa del Consumidor</li>
          <li>Tribunales competentes para solucionar tales disputas</li>
        </ul>
        <p>
          Finalmente, le solicitamos que tenga en cuenta que, en aquellos casos en los que decida suministrar o difundir sus datos o cualquier otra información personal, como por ejemplo en comunicaciones en línea, dicha información podría ser recopilada y utilizada por terceros, con o sin su consentimiento. Aunque hacemos todo lo posible por proteger su privacidad, no podemos garantizar la seguridad total de la información que usted difunda o proporcione, por lo que usted asume la responsabilidad de revelar esa información.
        </p>
        <h5>Menores de Edad</h5>
        <p>
          Los usuarios menores de edad solamente podrán acceder al sitio bajo supervisión de sus padres o tutores y en caso de contratar algún servicio deberán hacerlo a través de éstos.
        </p>
        <h5>Cookies</h5>
        <p>
          Mediante el uso de la tecnología <strong>Cookies</strong> o el rastreo de direcciones IP, el Sitio puede acceder a información adicional sobre usted, denominada "Información No Específica". Esta información incluye datos sobre el navegador utilizado, el tipo de dispositivo, los sistemas operativos, los proveedores de servicios de Internet, las páginas que visita y otros datos similares. De esta manera, podemos identificar las secciones de nuestro sitio preferidas por nuestros usuarios, aquellas áreas que requieren mejoras y las tecnologías empleadas, con el fin de optimizar constantemente los servicios que ofrecemos.
        </p>
        <p>
          Eventualmente, el Sitio podrá asociar la <strong>Información Personal</strong> con la <strong>Información No
          Específica</strong> o combinar datos de diferentes usuarios para generar estadísticas, siempre de manera
          que no se identifique a ninguna persona en particular. La <strong>Información No Específica</strong> se utiliza para mejorar continuamente la experiencia de los usuarios en el Sitio.
        </p>
        <p>
          En algunos casos, podemos compartir información estadística, pero en ningún momento revelaremos su
          información personal a terceros. Su navegador, al igual que otros, puede estar configurado para aceptar
          <strong>Cookies</strong> de manera predeterminada. Si usted prefiere no proporcionar <strong>Información No
            Específica</strong>, puede
            configurar su navegador para rechazar las <strong>Cookies</strong>.
          </p>
          <h5>Vínculos con otros sitios</h5>
          <p>
            El Sitio contiene enlaces a sitios de terceros. Algunos de estos sitios pueden solicitar información sobre los usuarios o utilizar tecnologías para recopilarla. Si bien hacemos todo lo posible dentro de nuestras capacidades tecnológicas para evitar que se recopile información personal de nuestros usuarios, no nos hacemos responsables por las prácticas que esos sitios puedan adoptar. Por ello, le recomendamos que antes de proporcionar cualquier tipo de información en sitios vinculados, verifique cuidadosamente la política de privacidad que dichos sitios aplican.
          </p>
          <h5>Calidad de los datos de los usuarios. Derecho de acceso, rectificación, actualización y supresión</h5>
          <p>
            Los usuarios garantizan la exactitud, vigencia y autenticidad de los datos personales que proporcionan.
            Ventanita se reserva el derecho de excluir de sus servicios a aquellos usuarios que suministren datos falsos,
            sin perjuicio de las demás acciones legales que pudieran corresponder. En todos los casos, usted tiene el
            derecho de acceder, actualizar, rectificar o suprimir sus datos personales. Para ello, le solicitamos que se
            comunique con nosotros a través de nuestra dirección de correo electrónico: <a href="mailto:info@ventanita.com.ar" target="_blank">info@ventanita.com.ar</a>
          </p>
          <p>
            Asimismo, usted podrá optar por suscribirse o cancelar la suscripción a nuestros boletines informativos y comunicaciones relacionadas con nuestras actividades, servicios y promociones.
          </p>
          <h5>Cumplimiento de normativa</h5>
          <p>
            El Sitio cumple con los requisitos establecidos por la legislación vigente en materia de protección de datos personales y derechos del consumidor. Usted puede acceder a la información de los organismos de aplicación y consultar la normativa vigente en los siguientes sitios web:
          </p>
          <ul>
            <li>
              <a href="https://www.jus.gob.ar/datos-personales.aspx" target="_blank">www.jus.gob.ar/datos-personales.aspx</a>
            </li>
            <li>
              <a href="https://www.buenosaires.gob.ar/defensaconsumidor" target="_blank">www.buenosaires.gob.ar/defensaconsumidor</a>
            </li>
            <li>
              <a href="https://www.consumidor.gob.ar" target="_blank">www.consumidor.gob.ar</a>
            </li>
          </ul>
          <p>en los mismos podrá consultar también la normativa vigente.</p>
          <h5>Legislación aplicable y jurisdicción</h5>
          <p>
            Para todos los efectos legales relacionados con los servicios prestados en el Sitio, se aplicará la legislación vigente en la República Argentina. En caso de surgir cualquier desacuerdo, controversia o conflicto en relación con la interpretación o el cumplimiento de estas Políticas de Privacidad, las partes se someterán a la jurisdicción de los Tribunales Ordinarios de la Ciudad Autónoma de Buenos Aires.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
