{% extends "layouts/base-app.html" %}

{% block content %}
    <h1>Styleguide</h1>
    <hr />
    <h2>Typography</h2>
    <p class="fw-bold">Bold text.</p>
    <p class="fw-bolder">Bolder weight text (relative to the parent element).</p>
    <p class="fw-semibold">Semibold weight text.</p>
    <p class="fw-medium">Medium weight text.</p>
    <p class="fw-normal">Normal weight text.</p>
    <p class="fw-light">Light weight text.</p>
    <p class="fw-lighter">Lighter weight text (relative to the parent element).</p>
    <p class="fst-italic">Italic text.</p>
    <p class="fst-normal">Text with normal font style</p>
    <p class="text-body-secondary">
        Secondary body text with a <a href="#" class="text-reset">reset link</a>.
    </p>
    <p class="fs-4 font-monospace">This is in monospace</p>
    <p>
        <a href="#">Default link</a>
    </p>
    <p>
        <a class="link-offset-1" href="#">Offset 1 link</a>
    </p>
    <p>
        <a class="link-offset-2" href="#">Offset 2 link</a>
    </p>
    <p>
        <a class="link-offset-3" href="#">Offset 3 link</a>
    </p>
    <h2>Buttons</h2>
    <button class="btn btn-primary">Danger</button>
    <button class="btn btn-secondary">Danger</button>
    <button class="btn btn-info">Danger</button>
    <button class="btn btn-success">Danger</button>
    <button class="btn btn-warning">Danger</button>
    <button class="btn btn-danger">Danger</button>
    <button class="btn btn-light">Danger</button>
    <button class="btn btn-dark">Danger</button>
    <button class="btn btn-link">Link</button>
    <hr />
    <button class="btn bg-gradient-primary">gradient</button>
    <button class="btn bg-gradient-secondary">gradient</button>
    <button class="btn bg-gradient-info">gradient</button>
    <button class="btn bg-gradient-success">gradient</button>
    <button class="btn bg-gradient-warning">gradient</button>
    <button class="btn bg-gradient-danger">gradient</button>
    <button class="btn bg-gradient-light">gradient</button>
    <button class="btn bg-gradient-dark">gradient</button>
    <hr />
    <button class="btn btn-outline-primary">Danger</button>
    <button class="btn btn-outline-secondary">Danger</button>
    <button class="btn btn-outline-info">Danger</button>
    <button class="btn btn-outline-success">Danger</button>
    <button class="btn btn-outline-warning">Danger</button>
    <button class="btn btn-outline-danger">Danger</button>
    <button class="btn btn-outline-light">Danger</button>
    <button class="btn btn-outline-dark">Danger</button>
{% endblock content %}
