{% extends "layouts/base-app.html" %}

{% block content %}
  <h1>Styleguide</h1>
  <hr />
  <h2>Typography</h2>
  <p class="fw-bold">Bold text.</p>
  <p class="fw-bolder">Bolder weight text (relative to the parent element).</p>
  <p class="fw-semibold">Semibold weight text.</p>
  <p class="fw-medium">Medium weight text.</p>
  <p class="fw-normal">Normal weight text.</p>
  <p class="fw-light">Light weight text.</p>
  <p class="fw-lighter">Lighter weight text (relative to the parent element).</p>
  <p class="fst-italic">Italic text.</p>
  <p class="fst-normal">Text with normal font style</p>
  <p class="text-body-secondary">
    Secondary body text with a <a href="#" class="text-reset">reset link</a>.
  </p>
  <p class="fs-4 font-monospace">This is in monospace</p>
  <p>
    <a href="#">Default link</a>
  </p>
  <p>
    <a class="link-offset-1" href="#">Offset 1 link</a>
  </p>
  <p>
    <a class="link-offset-2" href="#">Offset 2 link</a>
  </p>
  <p>
    <a class="link-offset-3" href="#">Offset 3 link</a>
  </p>
  <h2>Buttons</h2>
  <button class="btn btn-primary">Primary</button>
  <button class="btn btn-secondary">Secondary</button>
  <button class="btn btn-info">Info</button>
  <button class="btn btn-success">Success</button>
  <button class="btn btn-warning">Warning</button>
  <button class="btn btn-danger">Danger</button>
  <button class="btn btn-light">Light</button>
  <button class="btn btn-dark">Dark</button>
  <button class="btn btn-link">Link</button>
  <hr />
  <button class="btn bg-gradient-primary">Primary</button>
  <button class="btn bg-gradient-secondary">Secondary</button>
  <button class="btn bg-gradient-info">Info</button>
  <button class="btn bg-gradient-success">Success</button>
  <button class="btn bg-gradient-warning">Warning</button>
  <button class="btn bg-gradient-danger">Danger</button>
  <button class="btn bg-gradient-light">Light</button>
  <button class="btn bg-gradient-dark">Dark</button>
  <hr />
  <button class="btn btn-outline-primary">Primary</button>
  <button class="btn btn-outline-secondary">Secondary</button>
  <button class="btn btn-outline-info">Info</button>
  <button class="btn btn-outline-success">Success</button>
  <button class="btn btn-outline-warning">Warning</button>
  <button class="btn btn-outline-danger">Danger</button>
  <button class="btn btn-outline-light">Light</button>
  <button class="btn btn-outline-dark">Dark</button>
{% endblock content %}
