{% extends "layouts/base-app.html" %}

{% load static i18n %}

{% block title %}
  {% translate "500 Server Error" %}
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <div class="alert alert-danger" role="alert">
        <h1 class="alert-heading">{% translate "Error 500" %}</h1>
        <p>{% translate "Something went wrong" %}</p>
        <p>{% translate "We suggest you to go to the homepage while we solve this issue." %}</p>
        <hr />
        <a href="{% url 'pages:home' %}" class="alert-link icon-link icon-link-hover">
          <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
            <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-left" />
          </svg>
        {% translate "Go back home" %}</a>
      </div>
    </div>
  </div>
{% endblock content %}
