{% extends "layouts/base-company.html" %}

{% load static %}

{% block title %}
    {{ company.name }} | Coupons
{% endblock title %}

{% block breadcrumb %}
    Coupons
{% endblock breadcrumb %}

{% block page_title %}
    {{ company.name }}
{% endblock page_title %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between pb-0">
            <h6>
                <a href="{{ company.get_admin_url }}" class="icon-move-left">
                    <i class="fas fa-angle-left fa-lg me-2" aria-hidden="true">
                    </i>
                    Dashboard
                </a>
            </h6>
            <a href="{{ company.get_coupon_create_url }}" type="button" class="btn btn-outline-dark">
                <span>Create</span>
            </a>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            {% if not coupons %}
                <h6 class="text-center mb-3">You have no active coupons!</h6>
            {% else %}
                <div class="table-responsive">
                    <table class="table align-items-center align-middle mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Code</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Valid From</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Vatil Until</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Discount</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Active</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for coupon in coupons %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ coupon.code }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs mb-0">{{ coupon.valid_from|date:"D j M P" }}</p>
                                    </td>
                                    <td>
                                        <p class="text-xs mb-0">{{ coupon.valid_to|date:"D j M P" }}</p>
                                    </td>
                                    <td>
                                        <p class="text-xs mb-0">{{ coupon.discount }}</p>
                                    </td>
                                    <td>
                                        <p class="text-xs mb-0">{{ coupon.active }}</p>
                                    </td>
                                    <td class="align-middle">
                                        <div class="d-flex">
                                            <a href="" class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto">
                                                <i class="ni ni-bold-right" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% include "includes/pagination.html" %}

            {% endif %}
        </div>
    </div>
{% endblock content %}
