{% extends "layouts/base-company.html" %}

{% load static i18n %}

{% block title %}
  {{ company.name }} | {% translate "Coupon Create" %}
{% endblock title %}

{% block breadcrumb %}
  {% translate "Coupons" %}
{% endblock breadcrumb %}

{% block page_title %}
  {{ company.name }}
{% endblock page_title %}

{% block content %}
  <div class="d-flex justify-content-center">
    <div class="card w-50">
      <div class="card-header pb-0">
        <a href="{{ company.get_coupon_list_url }}" class="icon-link icon-link-hover">
          <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
            <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-left" />
          </svg>
          {% translate "Back" %}
        </a>
        <h5 class="text-center">{% translate "Coupon Create" %}</h5>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form.visible_fields %}
            <div class="mb-3">
              <span class="text-danger">{{ field.errors }}</span>
              <label class="form-label text-sm" for="{{ field.auto_id }}">{{ field.label }}</label>
              {{ field }}
              <div class="form-text ms-2" id="{{ field.auto_id }}_helptext">
                <small>{{ field.help_text|safe }}</small>
              </div>
            </div>
          {% endfor %}
          <button type="submit" class="btn bg-gradient-primary">{% translate "Save" %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script type="text/javascript" src="{% static 'assets/js/dates/flatpickr.min.js' %}" defer></script>
  <script>
       window.addEventListener("DOMContentLoaded", function() {
            const config = {
                 enableTime: true,
                 dateFormat: "Y-m-d H:i",
                 altInput: true,
                 altFormat: "F j, H:i",
                 defaultDate: new Date(),
                 minDate: "today",
                 maxDate: new Date().fp_incr(330), // 330 days from now,
                 defaultHour: 9,
                 defaultMinute: 0,
                 locale: {
                      firstDayOfWeek: 1, // start from Monday
                 },
            };

            flatpickr("#id_valid_from", config);
            config['defaultDate'] = new Date().fp_incr(7);;
            flatpickr("#id_valid_to", config);
       });
  </script>
{% endblock js %}
