{% extends "layouts/base-company.html" %}

{% load static i18n %}

{% block title %}
  {{ company.name }} | {% translate "Coupons" %}
{% endblock title %}

{% block breadcrumb %}
  {% translate "Coupons" %}
{% endblock breadcrumb %}

{% block page_title %}
  {{ company.name }}
{% endblock page_title %}

{% block content %}
  <div class="card">
    <div class="card-header d-flex justify-content-between pb-0">
      <a href="{{ company.get_admin_url }}" class="link-dark icon-link icon-link-hover">
        <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
          <use xlink:href="{% static 'assets/icons/icons.svg' %}#chevron-left" />
        </svg>
        {% translate "Dashboard" %}
      </a>
      <a href="{{ company.get_coupon_create_url }}" class="link-dark icon-link icon-link-hover">
        <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true">
          <use xlink:href="{% static 'assets/icons/icons.svg' %}#plus-lg" />
        </svg>
      {% translate "Create" %}</a>
    </div>
    <div class="card-body">
      {% if not coupons %}
        <h6 class="text-center mb-3">{% translate "You have no active coupons!" %}</h6>
      {% else %}
        <div class="table-responsive">
          <table class="table table-borderless table-hover align-items-center align-middle mb-0">
            <thead>
              <tr>
                <th class="text-sm ps-2">{% translate "Code" %}</th>
                <th class="text-sm ps-2">{% translate "Valid From" %}</th>
                <th class="text-sm ps-2">{% translate "Vatil Until" %}</th>
                <th class="text-sm ps-2">{% translate "Discount %" %}</th>
                <th class="text-sm ps-2">{% translate "Is Valid?" %}</th>
                <th class="text-sm ps-2">{% translate "Is Redeemed?" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for coupon in coupons %}
                <tr>
                  <td>
                    <p class="text-sm">{{ coupon.code }}</p>
                  </td>
                  <td>
                    <p class="text-sm">{{ coupon.valid_from|date:"D j M P" }}</p>
                  </td>
                  <td>
                    <p class="text-sm">{{ coupon.valid_to|date:"D j M P" }}</p>
                  </td>
                  <td>
                    <p class="text-sm">{{ coupon.discount }}</p>
                  </td>
                  <td>
                    <p class="text-sm">{{ coupon.is_valid|yesno:"Yes,No,Maybe" }}</p>
                  </td>
                  <td>
                    <p class="text-sm">{{ coupon.active|yesno:"No,Yes,Maybe" }}</p>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        {% include "includes/pagination.html" %}

      {% endif %}
    </div>
  </div>
{% endblock content %}
